<app-card [headerTitle]="'Small Size Scrollbar'" [border]="true" [padding]="false">
    <p class="f-m-light mt-1" header5>Use <code>ng-scrollbar </code> to create a custom scrollbar for smoother scrolling and a more stylish design. </p>
    <div class="scroll-bar-wrap">
        <div class="scrollbar-margins large-margin scroll-demo pe-0">
            <ng-scrollbar style="height: 300px; width: 100%;">
                <div class="margin-scrollbar">
                    <h6 class="pb-2">Solution for Business Transformation</h6>
                </div>
                  <p>
                      The Business transformation solution programme is a <b>multi-level engagement program</b> is designed to help Small and Medium-Sized Businesses and Startups create a strong, well-functioning business organization that produces the best results quickly and effectively.
                      <img class="img-fluid pt-3" src="assets/images/banner/3.jpg" alt="business" width="800" height="600">
                    </p>
                  <p>The core of the programme is our internally developed <b>Business Management model</b> , "Business Foundation & Management", which was tried and true for Indian business conditions while drawing inspiration from other successful global SME Business Management techniques.</p>
              </ng-scrollbar>
        </div>
    </div>
</app-card>