<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 box-col-12">
            <app-card [headerTitle]="'MASONRY GALLERY'" [border]="true" [padding]="false"
                [cardBodyClass]="'photoswipe-pb-responsive'">
                <div class="my-gallery grid gallery" id="aniimated-thumbnials" itemscope="">
                    <div class="row">
                        <ngx-masonry [options]="masonryOptions" [ordered]="true">
                            @for( image of masonryImage; track image; let i = $index ){
                                <figure class="col-md-3 col-sm-6 grid-item" style="width: 355px;" itemprop="associatedMedia" itemscope="" ngxMasonryItem>
                                    <a (click)="openInFullScreen(i)">
                                        <img class="img-thumbnail" [src]="image.src_url" itemprop="thumbnail" alt="Image description">
                                    </a>
                                  </figure>
                            }
                        </ngx-masonry>
                    </div>
                </div>
            </app-card>
        </div>
    </div>
</div>