<app-card [headerTitle]="'Horizontal Accordion'" [border]="true" [padding]="false">
    <p class="f-m-light mt-1" header5>
        Use the <code>collapse-horizontal</code> class along with the <code>[horizontal]="true"</code> binding in the <code>ngbCollapse</code> directive to create a horizontal collapse.  
        The <code>[(ngbCollapse)]</code> binding manages the open/close state dynamically, while the collapse effect animates horizontally.
    </p>
    
    <div class="common-flex">
        <button class="btn btn-secondary" type="button" (click)="collapse.toggle()">Toggle width Collapse</button>
    </div>
    <div class="row"> 
        <div class="col-xxl-8 col-xl-12">
          <div class="collapse collapse-horizontal mt-3" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" [horizontal]="true">
            <div class="card card-body accordion-h-space mb-0">This is some placeholder content for a horizontal collapse. It's hidden by default and shown when triggered.</div>
          </div>
        </div>
    </div>
</app-card>