<div class="container-fluid main-input-group">
    <div class="row">
        <div class="col-md-6">
            <app-button-addons></app-button-addons>
        </div>
        <div class="col-md-6">
            <app-custom-forms></app-custom-forms>
        </div>
        <div class="col-xl-6">
            <app-custom-file-input></app-custom-file-input>
        </div>
        <div class="col-xl-6">
            <app-button-dropdown></app-button-dropdown>
        </div>
        <div class="col-md-6">
            <app-segment-button></app-segment-button>
        </div>
        <div class="col-md-6">
            <app-checkbox-and-radio></app-checkbox-and-radio>
        </div>
        <div class="col-md-6">
            <app-sizing></app-sizing>
        </div>
        <div class="col-md-6">
            <app-multiple-input></app-multiple-input>
        </div>
        <div class="col-xl-6">
            <app-basic-input-group></app-basic-input-group>
        </div>
        <div class="col-xl-6">
            <app-variation-addons></app-variation-addons>
        </div>
    </div>
</div>