<div class="container-fluid main-scrollspy">
    <div class="row">
        <div class="col-12">
            <app-navbar-scrollspy></app-navbar-scrollspy>
        </div>
        <div class="col-12">
            <app-nested-scrollspy></app-nested-scrollspy>
        </div>
        <div class="col-12">
            <app-list-group-scrollspy></app-list-group-scrollspy>
        </div>
        <div class="col-12">
            <app-custom-scrollspy></app-custom-scrollspy>
        </div>
    </div>
</div>