<div class="container-fluid job-details-wrapper">
    <div class="row">
        <div class="col-xl-3 xl-40 box-col-12">
            <app-job-filter></app-job-filter>
        </div>
        <div class="col-xl-9 xl-60 box-col-12">
            @for(jobDetails of jobDetail;track jobDetails){
                <div class="card">
                    <div class="job-search">
                        <div class="card-body">
                            <div class="d-flex">
                                <img class="img-40 img-fluid m-r-20" [src]="jobDetails.img" [alt]="jobDetails.main_title">
                                <div class="flex-grow-1">
                                    <h6>
                                        <a href="javascript:void(0)">{{ jobDetails.main_title }}</a>
                                        <span class="pull-right">
                                            <a class="btn btn-primary" href="javascript:void(0)" [routerLink]="['/job-search/apply']">Apply</a>
                                        </span>
                                    </h6>
                                    <p class="mt-0">{{ jobDetails.subtitle }}
                                        <span class="ps-sm-1">
                                            <ngb-rating class="font-warning" [rate]="jobDetails.rating"></ngb-rating>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            @for(details of jobDetails.details;track details){
                                <div class="job-description">
                                    <h6>{{ details.title }}</h6>
                                    @if(details.li_class){
                                        <ul>
                                            @for(details of details.detail; track details){
                                            <li> {{ details.description }}</li>
                                            }
                                        </ul>
                                        } @else {
                                            @for(jobDetails of details.detail;track jobDetails){
                                                <p class="c-o-light">{{ jobDetails.description }}</p>
                                            }
                                    }
                                </div>
                            }
                            <div class="job-description">
                                <button class="btn btn-primary" type="button">
                                    <span>
                                        <i class="fa-solid fa-check me-1"></i>
                                    </span>
                                    Save this job
                                </button>
                                <button class="btn btn-primary" type="button">
                                    <span>
                                        <i class="fa fa-share-alt me-1"></i>
                                    </span>
                                    Share
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="header-faq">
                <h5 class="mb-0 f-w-600">Similar Jobs</h5>
            </div>
            <app-similar-jobs></app-similar-jobs>
        </div>
    </div>
</div>