<div class="card mobile-app-card upgrade-plan widget-hover">
    <div class="card-header card-no-border pb-0"> 
      <h5 class="mb-1">Upgrade Your Plan</h5>
      <p class="f-light mb-2">Make changes to your schedule for a particular experience</p>
      <a class="purchase-btn btn btn-primary btn-hover-effect f-w-500" [routerLink]="['/pricing']">Upgrade Now</a>
    </div>
    <div class="card-body p-0 text-end">
      <img src="assets/images/dashboard-6/1.gif" alt="upgrade-gif">
    </div>
</div>