<app-card [headerTitle]="'Animated Progress Bars'" [border]="true" [padding]="false" [cardBodyClass]="'progress-showcase'">

    <p class="f-m-light mt-1" header5>Add the <code>animated</code> attribute to any <code>ngb-progressbar</code> along with <code>striped</code> to enable a smooth animation effect on the striped background, using Bootstrap's built-in styles for visual enhancement.</p>
    <ngb-progressbar type="primary" [value]="10" [striped]="true" [animated]="true"/>
    <ngb-progressbar type="warning" [value]="25" [striped]="true" [animated]="true"/>
    <ngb-progressbar type="danger" [value]="50" [striped]="true" [animated]="true"/>
    <ngb-progressbar type="success" [value]="75" [striped]="true" [animated]="true"/>

</app-card>