<form class="row g-3 needs-validation" novalidate="" [formGroup]="formValidation" (ngSubmit)="next()">
    <div class="col-12">
      <h5>Select The Type of Account</h5>
      <p>It has long been known that distracting information on a page will lose a reader's attention.</p>
    </div>
    <div class="col-12"> 
      <div class="form-check radio radio-primary ps-0 select-account">
        <ul class="radio-wrapper">
          @for(details of chooseAccount;track details){
            <li> 
              <input class="form-check-input" [id]="details.id" type="radio" name="radio2" value="option2" [checked]="details.checked">
              <label class="form-check-label mb-0" [for]="details.id">
                <i class="fa-solid fa-{{ details.icon }}"></i>
                <span class="d-flex flex-column">
                  <span>{{ details.title }} </span>
                  <span>{{ details.text }}</span>
                </span>
              </label>
            </li>
          }
        </ul>
      </div>
    </div>
    <div class="col-12 common-flex justify-content-end">
      <button class="btn btn-primary" type="submit">Continue</button>
    </div>
  </form>