<div class="container-fluid">
    <div class="user-profile">
        <div class="row">
            <div class="col-xl-4 col-md-6">
                <app-avatar-size></app-avatar-size>
            </div>
            <div class="col-xl-4 col-md-6">
                <app-avatar-status-indicator></app-avatar-status-indicator>
            </div>
            <div class="col-xl-4 col-lg-6">
                <app-avatar-shape></app-avatar-shape>
            </div>
            <div class="col-lg-6">
                <app-avatar-ratio></app-avatar-ratio>
            </div>
            <div class="col-xl-6">
                <app-avatar-grouping></app-avatar-grouping>
            </div>
            <div class="col-lg-4">
                <app-avatar-badge></app-avatar-badge>
            </div>
            <div class="col-lg-4">
                <app-avatar-latter></app-avatar-latter>
            </div>
            <div class="col-lg-4">
                <app-avatar-animated></app-avatar-animated>
            </div>
        </div>
    </div>
</div>