<div class="container-fluid">
    <div class="row">
        <div class="col-xxl-6">
            <app-heading></app-heading>
        </div>
        <div class="col-xxl-6">
            <app-colored-heading></app-colored-heading>
        </div>
        <div class="col-12">
            <app-font-weight></app-font-weight>
        </div>
        <div class="col-sm-12 listing">
            <app-listing-typography></app-listing-typography>
        </div>
        <div class="col-12">
            <app-display-heading></app-display-heading>
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-inline-text-element></app-inline-text-element>
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-text-colors></app-text-colors>
        </div>
        <div class="col-sm-12">
            <app-block-quote></app-block-quote>
        </div>
    </div>
</div>