<app-card [headerTitle]="'Form with Password Strength Validation'" [border]="true" [padding]="false"> 
  <p class="f-m-light mt-1" header5>
    This form validates password strength dynamically, ensuring it includes uppercase, lowercase, a number, a special character, and at least 8 characters.
    <br>
    A progress bar visually indicates the password strength as the user types.
  </p>
    <div class="horizontal-login">
      <form class="needs-validation custom-input" id="horizontal-login" novalidate="" [formGroup]="formValidation" (ngSubmit)="submitForm()">
        <div class="mb-3">
          <label class="form-label" for="exampleInputEmail1">Email Address</label>
          <input class="form-control" id="exampleInputEmail1" type="email" autocomplete="off" placeholder="Enter your email" formControlName="email" 
          [ngClass]="{ 'is-invalid' : formValidation.controls['email'].touched && 
          formValidation.controls['email'].errors?.['required'] , 'is-valid' : formValidation.controls['email'].valid}">
           @if(formValidation.controls['email'].valid) {
            <div class="valid-feedback">Looks's Good!</div>        
            } @else if(formValidation.controls['email'].touched && formValidation.controls['email'].errors?.['required']) {
              <div class="invalid-feedback">Please provide a valid email.</div>
            }
        </div>
        <div class="mb-3">
          <label class="form-label" for="validatepwd">Password</label>
          <input class="form-control" id="validatepwd" type="password" placeholder="Enter your password" formControlName="password" (input)="checkStrength()">
          <div class="progress">
            <div class="progress-bar" 
                 [ngClass]="strengthClass" 
                 [style.width.%]="strengthPercent">
            </div>
          </div>
          <ul class="pwd-strength">
            <li><span class="low-upper-case"><i class="fas" [ngClass]="passwordValid.lowerUpper ? 'fa-check' : 'fa-circle'" ></i>&nbsp;Lowercase &amp; Uppercase</span></li>
            <li><span class="one-number"><i class="fas" [ngClass]="passwordValid.number ? 'fa-check' : 'fa-circle'"></i>&nbsp;Number (0-9)</span></li>
            <li><span class="one-special-char"><i class="fas" [ngClass]="passwordValid.special ? 'fa-check' : 'fa-circle'"></i>&nbsp;Special Character (!&#64;#$%^&amp;*)</span></li>
            <li><span class="eight-character"><i class="fas" [ngClass]="passwordValid.length ? 'fa-check' : 'fa-circle'"></i>&nbsp;Atleast 8 Character</span></li>
          </ul>
        </div>
        <button class="btn btn-primary d-block ms-auto" type="submit">Submit</button>
      </form>
    </div>
</app-card>