<app-card [headerTitle]="'Shipping Form'" [border]="true" [padding]="false">
  <p class="f-m-light mt-1" header5>
    Fill up your true details and next proceed.</p>
    <div class="row">
      <div class="col-12"> 
        <div class="row shipping-form g-5">
          <div class="col-xl-8 shipping-border checkout-cart">
            <div class="nav nav-pills horizontal-options shipping-options" id="stepper1">
              @for(tab of shippingForm; track tab) {
                <a class="nav-link b-r-0" id="bill-wizard-tab" data-bs-toggle="pill" role="tab" aria-controls="bill-wizard" aria-selected="true"> 
                  <div class="cart-options">
                    <div class="stroke-icon-wizard">
                      <i class="fa-solid fa-{{ tab.icon}}"></i>
                    </div>
                    <div class="cart-options-content"> 
                      <h6>{{ tab.title }}</h6>
                    </div>
                  </div>
                </a>
              }
            </div>
            <div class="tab-content dark-field shipping-content shipping-wizard basic-wizard" id="msform">

              <div class="tab-pane fade show active" [ngStyle]="{ 'display': (activeTab === 1 ? 'block' : 'none') }">
                <app-information></app-information>
              </div>
    
              <div [ngStyle]="{ 'display': (activeTab === 2 ? 'block' : 'none') }">
                <app-shipping></app-shipping>
              </div>
    
              <div [ngStyle]="{ 'display': (activeTab === 3 ? 'block' : 'none') }">
                <app-payment></app-payment>
              </div>
    
              <div [ngStyle]="{ 'display': (activeTab === 4 ? 'block' : 'none') }">
                <app-completed [type]="'classic'"></app-completed>
              </div>
              
              @if(activeTab !== 4) {
                <div class="wizard-footer d-flex gap-2 justify-content-end mt-3">
                  <button class="btn button-light-primary" id="backbtn" (click)="handleStep(-1)" [disabled]="activeTab == 1">Process To  Back</button>
                  <button class="btn btn-primary" id="nextbtn" (click)="handleStep(1)">{{ activeTab == shippingForm.length ? 'Finish' : 'Process To Next' }}</button>
                </div>
              }
            </div>
          </div>
          <div class="col-xl-4"> 
            <div class="shipping-info">
              <h5>Current Cart </h5>
              <div class="overflow-auto custom-scrollbar">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Product</th>
                      <th scope="col">Product Detail </th>
                      <th scope="col">Price </th>
                    </tr>
                  </thead>
                  <tbody>
                    @for(details of productDetails;track details){
                      <tr>
                        <td> <img [src]="details.image" alt="{{ details.alt }}"></td>
                        <td> 
                          <div> 
                            <h6>{{ details.title }} </h6><span>${{ details.quantity }}</span>
                          </div>
                        </td>
                        <td>
                          <p>${{ details.price }}</p>
                        </td>
                      </tr>
                    }
                  </tbody>
                  <tfoot>
                    @for(details of productTotal;track details){
                      <tr> 
                        <td>{{ details.title }} :</td>
                        <td colspan="2">${{ details.price }} </td>
                      </tr>
                    }
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</app-card>