<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <app-default-range-slider></app-default-range-slider>
        </div>
        <div class="col-lg-6">
            <app-min-max-value></app-min-max-value>
        </div>
        <div class="col-lg-6">
            <app-negative-value></app-negative-value>
        </div>
        <div class="col-lg-6">
            <app-steps-range-slider></app-steps-range-slider>
        </div>
        <div class="col-lg-6">
            <app-custom-value></app-custom-value>
        </div>
        <div class="col-lg-6">
            <app-prettify-number></app-prettify-number>
        </div>
        <div class="col-lg-6">
            <app-disabled-slider></app-disabled-slider>
        </div>
        <div class="col-lg-6">
            <app-core-ui></app-core-ui>
        </div>
    </div>
</div>