<app-card [headerTitle]="'Select Sizing'" [border]="true" [padding]="false">
  <p class="f-m-light mt-1" header5>
    <code>form-select</code> to trigger the custom styles. You may also choose from small and large custom selects to match our similarly sized
    text inputs. class:- <code>[form-select-lg/form-select-sm]</code>.
   </p>
  <select2 [data]="selectSizing" [templates]="template"
    placeholder="What's Your Hobbies">
    <ng-template #template let-item="label">
      {{ item }}
    </ng-template>
  </select2>
</app-card>