<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>IMAGE GALLERY WITH PLACEHOLDER LOADER</h5>
                </div>
                @if(isLoading){
                  <div class="gallery-description-skeleton loader_skeleton">
                      <div class="row gy-4">
                          @for(item of loader; track item){
                            <div class="col-xxl-3 col-lg-4 col-sm-6 box-col-4">
                                <div class="skeleton-wrapper">
                                    <div class="skeleton-image"> </div>
                                    <div class="skeleton-caption">
                                        <div class="skeleton-name"></div>
                                        <div class="skeleton-desc"></div>
                                        <div class="skeleton-desc"></div>
                                        <div class="skeleton-desc"></div>
                                    </div>
                                </div>
                            </div>
                          }
                      </div>
                  </div>
                } @else {
                  <div class="my-gallery card-body gallery-with-description" itemscope="">
                      <div class="row">
                          @for(img of galleryPlaceholder;track img; let i = $index){
                            <figure class="col-xl-3 col-sm-6">
                                <div class="my-gallery pswp-gallery">
                                    <div class="pswp-gallery__item" itemprop="associatedMedia">
                                        <a (click)="openInFullScreen(i)" itemprop="contentUrl">
                                            <img [src]="img.src_url" style="width: 100%;" />
                                            <div class="caption">
                                                <h4>{{ img.title }}</h4>
                                                <p>{{ img.description }}</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </figure>
                          }
                      </div>
                  </div>
                }
            </div>
        </div>
    </div>
</div>
