<div class="container-fluid common-cart">
  <div class="row">
    <div class="col-xl-9 xl-100 box-col-8">
      <app-card [cardBodyClass]="'shopping-cart-table'">
        <div class="recent-table table-responsive custom-scrollbar">
          <table class="table" id="cart-table">
            <thead>
              <tr>
                <th>
                  <input type="checkbox" [checked]="(cartService.cartItems && cartService.cartItems.length && selected && selected.length == cartService.cartItems.length) || false"
                  (change)="checkUncheckAll($event)">
                </th>
                <th> 
                  <span class="c-o-light f-w-600">Shopping Cart 
                    <span class="badge badge-dark rounded-circle">
                      {{ cartService.cartItems && cartService.cartItems.length ? cartService.cartItems.length : 0 }}
                    </span>
                  </span>
                </th>
                <th> <span class="c-o-light f-w-600"> </span></th>
                <th> <span class="c-o-light f-w-600"> </span></th>
                <th> <span class="c-o-light f-w-600"></span></th>
                <th>
                  <span class="c-o-light f-w-600" (click)="cartService.clearCart()">Clear All
                    <app-svg-icon [icon]="'trash1'"></app-svg-icon>
                  </span>
                </th>
              </tr>
            </thead>
            <tbody>
              @if(cartService.cartItems && cartService.cartItems.length) {
                @for(item of cartService.cartItems; track item) {
                  <tr class="inbox-data" [class.selected]="selected && selected.length && selected.includes(item.id)">
                    <td>
                      <input type="checkbox" [value]="item?.id"
                      [checked]="selected && selected.length && selected.includes(item.id)" (change)="onItemChecked($event)">
                    </td>
                    <td>
                      <div class="product-names">
                        <div class="light-product-box">
                          <img class="img-fluid" [src]="item.product_image" alt="{{ item.product_name }}">
                        </div>
                        <ul>
                          <li>
                            <h6>{{ item.product_name }}</h6>
                          </li>
                          <li>
                            <p>{{ item.brand }}</p>

                            @if(item.color) {
                              <span class="common-dot"></span>
                              <span>Color:<span> {{ item.color }}</span></span>
                            }
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <div class="cart-price">
                        <h5>${{ item.discount_price | number: '1.2-2' }}</h5>
                        <del class="c-o-light">${{ item.price| number: '1.2-2' }}</del>
                      </div>
                    </td>
                    <td>
                      <div class="touchspin-wrapper">
                        <button class="decrement-touchspin btn-touchspin touchspin-primary" (click)="cartService.updateQuantity(-1, item)">
                          <i class="fa-solid fa-minus"> </i>
                        </button>
                        <input class="input-touchspin spin-outline-primary" type="number" [value]="item.quantity">
                        <button class="increment-touchspin btn-touchspin touchspin-primary" (click)="cartService.updateQuantity(1, item)">
                          <i class="fa-solid fa-plus"></i>
                        </button>
                      </div>
                    </td>
                    <td>
                      <h4 class="txt-primary">${{ (item.discount_price ? item.discount_price : item.price) * item.quantity | number: '1.2-2' }} </h4>
                    </td>
                    <td>
                      <div class="product-action">
                        <a class="square-white" placement="top" [ngbTooltip]="'Wishlist'" [routerLink]="['/wishlist']">
                          <app-svg-icon [icon]="'fill-wishlist'"></app-svg-icon>
                        </a>
                        <a class="square-white trash-3" href="javascript:void(0)" placement="top" [ngbTooltip]="'Delete'" (click)="cartService.deleteCartItem(item)">
                          <app-svg-icon [icon]="'trash1'"></app-svg-icon>
                        </a>
                      </div>
                    </td>
                  </tr>
                }
              } @else {
                <tr class="inbox-data">
                  <td colspan="6" class="empty-cart">
                    <img src="assets/images/svg/empty-cart.svg" class="img-fluid">
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </app-card>
    </div>
    <div class="col-xl-3 xl-100 box-col-4e">
      <app-cart-sidebar></app-cart-sidebar>
    </div>
  </div>
</div>