<app-card [headerTitle]="'Button Badges'" [border]="true" [padding]="false">
    <p class="f-m-light mt-1" header5> <code> badge </code> can be used as part of links or buttons to provide a counter.</p>

    <div class="badge-flex">
        <button class="btn btn-primary">Notifications <span class="badge text-bg-danger ms-2">4</span></button>
        <button class="btn button-light-primary">Sale<span class="badge text-bg-danger rounded-pill ms-2">9</span></button>
        <button class="btn border-dashed-primary">Instagram <span class="badge text-bg-danger ms-2">6</span></button>
        <button class="btn btn-pill button-light-info txt-info">LinkedIn <span class="badge text-bg-info rounded-pill ms-2 txt-light">3</span></button>
    </div>
</app-card>