<app-card [headerTitle]="'Dismissing Dark Alert'" [border]="true" [padding]="false">

    <p class="f-m-light mt-1" header5>To create a alert using <code>ngb-alert</code>, set the <code>type</code> property to one of the Bootstrap color classes (e.g., <code>"primary"</code>, <code>"secondary"</code>, etc.) and the <code>[dismissible]</code> property to <code>false</code> to make it non-dismissible. For example, use <code>[type]="'dark'"</code> to create a primary colored alert.</p>

    <ngb-alert [type]="'dark'" [dismissible]="true">
        <app-feather-icon [icon]="'heart'"></app-feather-icon>
        <p class="txt-light">The <a class="alert-link txt-light" href="javascript:void(0)">"alert-dark" </a>class can be used to create an alert like this one.</p>
    </ngb-alert>
    
</app-card>