<div class="custom-input">
<form class="row g-3 needs-validation custom-input" novalidate="" [formGroup]="formValidation" (ngSubmit)="next()">
    <div class="col-xxl-4 col-sm-6">
      <label class="form-label" for="validationCustom0-a">First Name<span class="txt-danger">*</span></label>
      <input class="form-control" id="validationCustom0-a" type="text" placeholder="Enter first name" formControlName="firstName"
       [ngClass]="{ 'is-invalid' : formValidation.controls['firstName'].touched && formValidation.controls['firstName'].errors?.['required'] , 'is-valid' : formValidation.controls['firstName'].valid}">
       @if(formValidation.controls['firstName'].touched && formValidation.controls['firstName'].errors?.['required']) {
        <div class="valid-feedback">Looks good!</div>
      }
    </div>
    <div class="col-xxl-4 col-sm-6">
      <label class="form-label" for="validationCustom-b">Last Name<span class="txt-danger">*</span></label>
      <input class="form-control" id="validationCustom-b" type="text" placeholder="Enter last name" formControlName="lastName"
      [ngClass]="{ 'is-invalid' : formValidation.controls['lastName'].touched && formValidation.controls['lastName'].errors?.['required'] , 'is-valid' : formValidation.controls['lastName'].valid}">
      @if(formValidation.controls['lastName'].touched && formValidation.controls['lastName'].errors?.['required']) {
       <div class="valid-feedback">Looks good!</div>
     }
    </div>
    <div class="col-xxl-4 col-sm-6">
      <label class="form-label" for="validationEmail-b">Email<span class="txt-danger">*</span></label>
      <input class="form-control" id="validationEmail-b" type="email" placeholder="mofi@example.com" formControlName="email"
      [ngClass]="{ 'is-invalid' : formValidation.controls['email'].touched && formValidation.controls['email'].errors?.['required'] , 'is-valid' : formValidation.controls['email'].valid}">
      @if(formValidation.controls['email'].touched && formValidation.controls['email'].errors?.['required']) {
       <div class="valid-feedback">Looks good!</div>
     }
    </div>
    <div class="col-xxl-5 col-sm-6">
      <label class="form-label" for="validationCustom04">State</label>
      <select2 [data]="selectState"  [templates]="template" placeholder="Choose.." formControlName="state"
      [ngClass]="{ 'is-invalid' : formValidation.controls['state'].touched && formValidation.controls['state'].errors?.['required'] , 'is-valid' : formValidation.controls['state'].valid}">
        <ng-template #template let-item="label">
          {{ item }}
        </ng-template>
      </select2>
      @if(formValidation.controls['state'].touched && formValidation.controls['state'].errors?.['required']) {
        <div class="invalid-feedback">Please select a valid state.</div>
      }
    </div>
    <div class="col-xxl-3 col-sm-6">
      <label class="form-label" for="validationCustom05">Zip Code</label>
      <input class="form-control" id="validationCustom05" type="text" formControlName="zipCode"
      [ngClass]="{ 'is-invalid' : formValidation.controls['zipCode'].touched && formValidation.controls['zipCode'].errors?.['required'] , 'is-valid' : formValidation.controls['zipCode'].valid}">
      @if(formValidation.controls['zipCode'].touched && formValidation.controls['zipCode'].errors?.['required']) {
        <div class="invalid-feedback">Please provide a valid zip.</div>
      }
    </div>
    <div class="col-xxl-4 col-sm-6">
      <label class="form-label" for="contactNumber">Contact Number</label>
      <input class="form-control" id="contactNumber" type="number" placeholder="Enter number" formControlName="contactNumber"
      [ngClass]="{ 'is-invalid' : formValidation.controls['contactNumber'].touched && formValidation.controls['contactNumber'].errors?.['required'] , 'is-valid' : formValidation.controls['contactNumber'].valid}">
      @if(formValidation.controls['contactNumber'].touched && formValidation.controls['contactNumber'].errors?.['required']) {
        <div class="valid-feedback">Looks good!</div>
      }
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" id="invalidCheck-n" type="checkbox" value="" formControlName="agree"
        [ngClass]="{ 'is-invalid' : formValidation.controls['agree'].touched && formValidation.controls['agree'].errors?.['required'] , 'is-valid' : formValidation.controls['agree'].valid}">
        @if(formValidation.controls['agree'].touched && formValidation.controls['agree'].errors?.['required']) {
          <div class="invalid-feedback">You must agree before submitting.</div>    
              }
        <label class="form-check-label" for="invalidCheck-n">Agree to terms and conditions</label>
      </div>
    </div>
    <div class="col-12 text-end"> 
      <button class="btn btn-primary" type="submit">Next</button>
    </div>
  </form>
    
</div>