<div class="row g-3 avatar-upload">
    <div class="col-12">
      <div>
        <div class="avatar-edit">
          <input id="imageUpload" type="file" accept=".png, .jpg, .jpeg">
          <label for="imageUpload"></label>
        </div>
        <div class="avatar-preview">
          <div id="image"></div>
        </div>
      </div>
      <h6>Add Profile</h6>
    </div>
    <div class="col-12">
      <label class="form-label" for="exampleFormControlInput1">Portfolio URL</label>
      <input class="form-control" id="exampleFormControlInput1" type="url" placeholder="https://cuba">
    </div>
    <div class="col-12"> 
      <label class="form-label" for="projectDescription">Project Description</label>
      <textarea class="form-control" id="projectDescription" rows="2"></textarea>
    </div>
  </div>