<div class="container-fluid email-wrap bookmark-wrap todo-wrap">
    <div class="row">
        <div class="col-xxl-3 col-xl-4 box-col-30">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-xxl-9 col-xl-8 box-col-12">
            <div class="card todo-tasks">
              <div class="card-header">
                <div class="input-group">
                  <input class="form-control" id="new-task-input" type="text" placeholder="write your task..." [(ngModel)]="taskValue" (keypress)="handleKeyPress($event)">
                  <button class="btn btn-primary" id="add-task-button" type="button" (click)="addTask()">Add Task</button>
                </div>
              </div>
              <div class="card-body custom-scrollbar empty-task">
                <ul class="checkbox-checked" id="task-list">
                    @for(todo of todos; track todo) {
                        <li>
                            <input type="checkbox" class="form-check-input checkbox-primary" [checked]="todo.status == 'completed'" (change)="updateStatus($event, todo)">
                            <span [class.completed]="todo.status == 'completed'">{{ todo.task }}</span>
                            <div class="task-date">
                                <span class="c-o-light">{{ todo.date }}</span>
                                <button class="delete-button" (click)="deleteTask(todo)">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </div>
                        </li>
                    } @empty {
                        No Task Found
                    }
                </ul>
              </div>
            </div>
        </div>
    </div>
</div>