<div class="row">
  <label class="col-md-3 form-label">Signup Points</label>
  <div class="col-md-9">
    <div class="input-group">
      <span class="input-group-text" id="minPerOrder">
         <i class="fa-regular fa-gem"></i>
        </span>
      <input class="form-control" type="number" value="150" placeholder="Enter signup points">
    </div>
    <div class="helper-text">
      <p class="fst-italic c-o-light">*Provide points to new users as a signup incentive.</p>
    </div>
  </div>
</div>
<div class="row">
  <label class="col-md-3 form-label">Min Per Order Amount</label>
  <div class="col-md-9">
    <div class="input-group">
      <span class="input-group-text" id="collectPointOrder"> 
        <i class="fa-solid fa-dollar-sign"></i>
      </span>
      <input class="form-control" type="number" value="100" placeholder="Enter min per order amount">
    </div>
    <div class="helper-text">
      <p class="fst-italic c-o-light">*Collect points when orders meet or exceed the minimum value.</p>
    </div>
  </div>
</div>
<div class="row">
  <label class="col-md-3 form-label">Point Currency Ratio</label>
  <div class="col-md-9">
    <input class="form-control" type="number" value="30" placeholder="Enter point current ratio">
    <div class="helper-text">
      <p class="fst-italic c-o-light">*Determine the conversion factor from points to currency.</p>
    </div>
  </div>
</div>
<div class="row">
  <label class="col-md-3 form-label">Reward Per Order Point</label>
  <div class="col-md-9">
    <input class="form-control" type="number" value="10" placeholder="Enter reward per order point">
    <div class="helper-text">
      <p class="fst-italic c-o-light">*Earn reward points based on each orders value.<br>(Rewards Points = (Total Order Amount / Min Per Order Amount) * Reward Per Order Point)</p>
    </div>
  </div>
</div>
