<form class="form theme-form custom-input">
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label class="form-label" for="exampleFormControlInput1">
                    Full Name:<span class="font-danger">*</span>
                </label>
                <input class="form-control" id="exampleFormControlInput1" type="text" placeholder="Enter your full name">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label class="form-label" for="exampleFormControlInput3">
                    Email:<span class="font-danger">*</span>
                </label>
                <input class="form-control" id="exampleFormControlInput3" type="email" placeholder="Enter email">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label class="form-label" for="exampleFormControlpassword">
                    Password:<span class="font-danger">*</span>
                </label>
                <input class="form-control" id="exampleFormControlpassword" type="password" placeholder="Enter password">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label class="form-label" for="exampleFormControlpassword1">
                    Repeat Password:<span class="font-danger">*</span>
                    </label>
                <input class="form-control" id="exampleFormControlpassword1" type="password" placeholder="Repeat password">
            </div>
        </div>
    </div>
    <div class="row select-date">
        <div class="col-12">
            <div class="col-form-label pt-0">Birth Date</div>
        </div>
        <div class="col-sm-4">
            <div class="mb-3">
                <div class="col-form-label">
                    <select2 class="col-sm-12 selectpicker" [data]="month" [templates]="template" placeholder="Month" data-live-search="true">
                        <ng-template #template let-month="label">{{month}}</ng-template>
                    </select2>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="mb-3">
                <div class="col-form-label">
                    <select2 class="col-sm-12 selectpicker" [data]="date" [templates]="template" placeholder="Date" data-live-search="true">
                        <ng-template #template let-data="label">
                            @for(date of date; track date){
                            <option value="{{ date }}">{{ date }}</option>
                            }
                        </ng-template>
                    </select2>

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="mb-3">
                <div class="col-form-label">
                    <select2 class="col-sm-12 selectpicker" [data]="year" [templates]="template" placeholder="Year"
                        data-live-search="true">
                        <ng-template #template let-data="label">
                            @for(year of year; track year){
                            <option value="{{ year }}">{{ year }}</option>
                            }
                        </ng-template>
                    </select2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label class="form-label" for="exampleFormControlInput4">Phone Number:</label>
                <input class="form-control" id="exampleFormControlInput4" type="number" placeholder="Enter Phone no.">
            </div>
        </div>
    </div>
</form>