<app-card [headerTitle]="'Custom Forms'" [border]="true" [padding]="false" [cardBodyClass]="'common-flex main-custom-form'">
  <p class="f-m-light mt-1" header5>
    Input groups include support for <code>custom selects and custom file inputs</code>. Browser default versions of these are not supported.</p>
    <div class="input-group">
      <label class="input-group-text" for="inputGroupSelect01">Options</label>
      <select2 class="form-select" [data]="selectTheme" [templates]="template" placeholder="Select Your Favorite Pixelstrap theme">
        <ng-template #template let-item="label">
          {{ item }}
        </ng-template>
      </select2>
    </div>
    <div class="input-group">
      <select2 class="form-select" [data]="selectColor" [templates]="template" placeholder="Select Your Favorite Pixelstrap theme">
        <ng-template #template let-item="label">
          {{ item }}
        </ng-template>
      </select2>
      <label class="input-group-text" for="inputGroupSelect02">Options</label>
    </div>
    <div class="input-group">
      <button class="btn btn-outline-secondary" type="button">
         <i class="icofont icofont-credit-card"></i>
        </button>
      <select2 class="form-select" [data]="selectChocolates" [templates]="template" placeholder="Select Your Favorite Chocolates">
        <ng-template #template let-item="label">
          {{ item }}
        </ng-template>
      </select2>
    </div>
    <div class="input-group">
      <select2 class="form-select" [data]="selectTheme" [templates]="template" placeholder="Select Your Favorite Theme">
        <ng-template #template let-item="label">
          {{ item }}
        </ng-template>
      </select2>
      <button class="btn btn-outline-secondary" type="button">Submit</button>
    </div>
</app-card>