<app-card [cardClass]="'height-equal helper-height-equal'" [headerTitle]="'Images Sizes'" [border]="true" [padding]="false">

    <p class="f-m-light mt-1" header5>Use <code>img-h-* </code>& <code> img-* </code> for image height and border radius for use <code>rounded-* / b-r-* / and rounded-pill </code>for border-radius images.</p>

    <div class="row g-3">
        @for(sizes of imageSize; track sizes) {
            <div class="col-12 helper-col-6">
                <div class="card-wrapper border rounded-3 h-100">
                    <div class="gradient-border gap-3">
                        @for(size of sizes.size; track size) {
                            <img [class]="size.class" [src]="sizes.image" [alt]="size.class">
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</app-card>