<div class="container-fluid candidate-wrapper">
    <div class="row g-3">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <app-candidate-filter></app-candidate-filter>
                </div>
            </div>
        </div>
        <div class="col-12">
            <app-card [cardBodyClass]="'candidates-box px-0'" [padding]="false" [cardType]="'dataTable'">
                <div class="table-responsive custom-scrollbar">
                    <app-table [tableConfig]="tableConfig" [hasCheckbox]="true" [pageSize]="10" [showPaginate]="true" [paginateDetails]="true"> 
                    </app-table>
                </div>
            </app-card>
        </div>
    </div>
</div>