<div class="container-fluid p-0"> 
    <div class="row m-0">
      <div class="col-12 p-0">    
        <div class="login-card login-dark">
          <div>
            <div>
                <a class="logo" href="javascript:void(0)" [routerLink]="['/']">
                    <img class="img-fluid for-light" src="assets/images/logo/logo.png" alt="logo">
                    <img class="img-fluid for-dark" src="assets/images/logo/logo_dark.png" alt="logo">
                </a>
            </div>
            <div class="login-main create-account">
              <app-register-form [path]="'/auth/login-simple'"></app-register-form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>