<div class="container-fluid api-manage">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header card-no-border text-end">
                    <div class="card-header-right-icon">
                        <a class="btn btn-primary f-w-500"  data-bs-toggle="modal" data-bs-target="#apiManagement" (click)="openModal()">
                            <i class="fa-solid fa-plus pe-2"></i>
                            Add
                        </a>
                    </div>
                </div>
                <div class="card-body px-0 pt-0">
                    <div class="api-management">
                        <div class="recent-table table-responsive custom-scrollbar">
                            <app-table [hasCheckbox]="true" [tableConfig]="tableConfig" [pageSize]="10"
                                [paginateDetails]="true" [showPaginate]="true" [selectedRows]="true"
                                [searchPlaceholder]="'Search here...'" 
                                (action)="handleAction($event)">
                            </app-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>