<app-card [headerTitle]="'Horizontal Scrollbar'" [border]="true" [padding]="false">
    <p class="f-m-light mt-1" header5>Use <code>ngx-scrollbar</code> to create a horizontal scrollbar Use the <code>[orientation]="'horizontal'"</code> </p>
    <div class="horizontal-scroll scroll-demo">
        <div class="horz-scroll-content">
            <ng-scrollbar style="height: 300px; width: 100%;"  orientation="horizontal">
                <div class="row" style = "width: 1600px;">
                    @for(images of scrollableImages; track images) {
                        <div class="col-2"> 
                            <div class="horizontal-img">
                                <img class="img-fluid" [src]="images.image" alt="girl">
                            </div>
                        </div>
                    }
                </div>
              </ng-scrollbar>
        </div>
      </div>
</app-card>