<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <app-basic-modals></app-basic-modals>
        </div>
        <div class="col-lg-6">
            <app-sizes-modals></app-sizes-modals>
        </div>
        <div class="col-xl-12">
            <app-full-screen-modals></app-full-screen-modals>
        </div>
        <div class="col-xl-4 col-md-6">
            <app-centered-modal></app-centered-modal>
        </div>
        <div class="col-xl-4 col-md-6">
            <app-toggle-between-modal></app-toggle-between-modal>
        </div>
        <div class="col-xl-4">
            <app-static-backdrop-modal></app-static-backdrop-modal>
        </div>
        <div class="col-md-6">
            <app-grid-modal></app-grid-modal>
        </div>
        <div class="col-md-6">
            <app-scrolling-long-content-modal></app-scrolling-long-content-modal>
        </div>
        <div class="col-12">
            <app-cuba-custom-modals></app-cuba-custom-modals>
        </div>
    </div>
</div>