<div class="row">
    <div class="col-12">
        <div class="card filter-header">
            <div class="card-body">
                <div class="common-space">
                    <h5>Recent Activity</h5>
                    <app-card-dropdown-button [dropdownType]="'classic'" [options]="cardToggleOption"
                        [dropdownClass]="'btn-group'"></app-card-dropdown-button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <app-card [cardClass]="'project-timeline'" [cardBodyClass]="'notification'">
            <ul>
                @for(activity of projectActivity; track activity) {
                <li class="d-flex">
                    <div class="activity-dot-{{ activity.color }}"></div>
                    <div class="w-100 ms-3">
                        <h6 class="f-w-400" [innerHTML]="activity.title"></h6>
                        <span class="date-time">{{ activity.time }} by
                            <span class="activity-profile">
                                <img class="img-fluid" [src]="activity.added_by.profile" alt="user">
                                <span>{{ activity.added_by.name }}</span>
                            </span>
                        </span>
                        <div class="mt-3">
                            @if(activity.description) {
                            <span>{{ activity.description }}</span>
                            }

                            @if(activity.attachments) {
                            <div class="common-flex">
                                @for(attachment of activity.attachments; track attachment) {
                                <div class="upload-doc">
                                    <div class="d-flex">
                                        <app-svg-icon [icon]="attachment.file_icon"></app-svg-icon>
                                        <div>
                                            <p class="mb-0">{{ attachment.file_name }}</p>
                                            <p class="mb-0 c-o-light">{{ attachment.file_size }}</p>
                                        </div>
                                    </div>
                                </div>
                                }
                            </div>
                            }

                            @if(activity.images) {
                            <div class="flowchart-wrapper">
                                @for(image of activity.images; track image){
                                <div>
                                    <div class="flowchart-img">
                                        <img class="img-fluid" [src]="image.image_url" alt="flowchart">
                                    </div>
                                </div>
                                }
                            </div>
                            }

                            @if(activity.members) {
                            <div class="project-teammate">
                                <ul class="common-f-start">
                                    @for(member of activity.members; track member) {
                                    @if(member.profile) {
                                    <li class="d-inline-block" placement="top" [ngbTooltip]="member.name"
                                        [closeDelay]="1000000000">
                                        <img class="common-circle" [src]="member.profile" alt="user">
                                    </li>
                                    } @else {
                                    <li class="d-inline-block" placement="top" [ngbTooltip]="member.name">
                                        <div
                                            class="common-circle bg-lighter-{{ chatService.getTextColor(chatService.getUserText(member.name)) }}">
                                            {{ chatService.getUserText(member.name, 'singleText') }}</div>
                                    </li>
                                    }
                                    }
                                </ul>
                            </div>
                            }

                            @if(activity.templates) {
                            <div class="table-responsive custom-scrollbar">
                                <table class="table project-task-note">
                                    <thead class="project-header">
                                        <tr>
                                            <th scope="col">Project </th>
                                            <th scope="col">Task </th>
                                            <th scope="col">Assigned To</th>
                                            <th scope="col">Status </th>
                                            <th scope="col">Due Date</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody class="project-content">
                                        @for(details of activity.templates; track details) {
                                        <tr>
                                            <td>{{ details.project_name }}</td>
                                            <td>{{ details.task }}</td>
                                            <td>
                                                <ul class="common-f-start">
                                                    @for(image of details.assign_to; track image) {
                                                    <li placement="top" [ngbTooltip]="image.name">
                                                        <img class="rounded-circle" [src]="image.profile" alt="user">
                                                    </li>
                                                    }
                                                </ul>
                                            </td>
                                            <td>
                                                <span
                                                    class="badge badge-light-{{ details.color }} txt-{{ details.color }}">{{
                                                    details.status }}</span>
                                            </td>
                                            <td>{{ details.due_date }}</td>
                                            <td><a class="btn" href="javascript:void(0)" [routerLink]="['/project/project-list']">View</a></td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            }
                        </div>
                    </div>
                </li>
                }
            </ul>
        </app-card>
    </div>
</div>