<app-card [headerTitle]="'Dynamic Form Field'" [border]="true" [padding]="false">
  <p class="f-m-light mt-1" header5>
    Use id <code>#cart_fields </code>to dynamically add form fields.
  </p>
  <div class="dynamic-form-field">
    <div class="panel panel-default">
      <div class="panel-body">
        <div id="cart_fields"></div>
        <div class="row g-3 custom-input">
          <div class="col-12">
            <div class="input-group-btn">
              <button class="btn btn-success" type="button" (click)="addItem()">
                Add Item
                <span class="fa-solid fa-plus" aria-hidden="true"></span>
              </button>
            </div>
          </div>
          @for(item of items; track item; let i = $index) {
            <div class="row g-2">
              <div class="col-xxl-3 col-sm-6 box-col-6">
                <div class="form-group">
                  <label for="baseItemName">Items</label>
                  <input class="form-control" id="base{{i}}" type="text" [name]="'base{{i}}'" [value]="item.items" placeholder="Add item Name">
                </div>
              </div>
              <div class="col-xxl-3 col-sm-6 box-col-6">
                <div class="form-group">
                  <label for="baseItemName">Price</label>
                  <input class="form-control" id="base{{i}}" type="text" [name]="'base{{i}}'" [value]="item.price" placeholder="500">
                </div>
              </div>
              <div class="col-xxl-3 col-sm-6 box-col-6">
                <div class="form-group">
                  <label for="baseItemName">Qty</label>
                  <input class="form-control" id="base{{i}}" type="text" [name]="'base{{i}}'" [value]="item.qty" placeholder="1">
                </div>
              </div>
              <div class="col-xxl-3 col-sm-6 box-col-6">
                <div class="form-group">
                  <label for="baseItemName">Total Price</label>
                  <input class="form-control" id="base{{i}}" type="text" [name]="'base{{i}}'" [value]="item.total_price" placeholder="500">
                </div>
              </div>
              @if(items.length > 1 && i != 0) {
                <div class="clear">
                  <button class="btn btn-danger" type="button" (click)="removeItem(i)">Remove Item</button>
                </div>
                }
              </div>
          }
        </div>
      </div>
    </div>
  </div>
</app-card>