<div class="modal-header">
  <h4 class="modal-title fs-5">Compose Message</h4>
  <button class="btn-close" type="button" (click)="closeModal()"></button>
</div>
<div class="modal-body compose-modal">
  <form>
    <div class="row mb-lg-3 g-1 mb-2">
      <label class="col-lg-2 col-form-label" for="composeTo">To :</label>
      <div class="col-lg-10">
        <input class="form-control" id="composeTo" type="email">
        <div class="add-bcc">
          <div class="d-flex gap-2">
            <a class="btn" (click)="handleFields('cc')">Cc </a>
            <a class="btn" (click)="handleFields('bcc')">Bcc</a>
          </div>
        </div>
      </div>
    </div>
    <div class="collapse row mb-lg-3 mb-2" id="collapseCc" [class.show]="fields['cc']">
      <label class="col-lg-2 col-form-label" for="composeCc">Cc:</label>
      <div class="col-lg-10">
        <input class="form-control" id="composeCc" type="email" placeholder="elanarob@gmail.com">
      </div>
    </div>
    <div class="collapse row mb-lg-3 mb-2" id="collapseBcc" [class.show]="fields['bcc']">
      <label class="col-lg-2 col-form-label" for="composeBcc">Bcc:</label>
      <div class="col-lg-10">
        <input class="form-control" id="composeBcc" type="email" placeholder="stiphen@yahoo.com">
      </div>
    </div>
    <div class="row mb-lg-3 g-1 mb-2">
      <label class="col-lg-2 col-form-label" for="composeSubject">Subject :</label>
      <div class="col-lg-10">
        <input class="form-control" id="composeSubject" type="email">
      </div>
    </div>
    <div class="toolbar-box mb-lg-3 mb-2">
      <angular-editor></angular-editor>
    </div>
    <div class="row mb-3 align-items-center g-1">
      <label class="col-lg-2 col-form-label" for="composeSubject">Attachments :</label>
      <div class="col-lg-10">
        <input class="form-control" id="formFileMultiple" type="file" multiple="">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn button-light-primary" type="button">Save As Draft</button>
  <button class="btn btn-primary" type="button" (click)="closeModal()">Send</button>
</div>
