<div class="container-fluid main-scope-project">
    <div class="row scope-bottom-wrapper">
        <div class="col-xxl-2 recent-xl-23 col-xl-3 box-col-3">
            <app-project-details-tab (handleActiveTab)="handleActiveTab($event)"></app-project-details-tab>
        </div>

        <div class="col-xxl-10 recent-xl-77 col-xl-9 box-col-9">
            <div class="row">
                <div class="col-12">
                    <app-project-details-header></app-project-details-header>
                </div>

                <div class="col-12">
                    <div class="tab-content">
                        <div class="tab-pane fade show active">
                            @if(activeTab == 'summary') {
                                <app-project-summary></app-project-summary>
                            }

                            @if(activeTab == 'status') {
                                <app-project-status></app-project-status>
                            }

                            @if(activeTab == 'finance') {
                                <app-finance></app-finance>
                            }

                            @if(activeTab == 'team') {
                                <app-project-team></app-project-team>
                            }

                            @if(activeTab == 'attachment') {
                                <app-attachments></app-attachments>
                            }

                            @if(activeTab == 'activity') {
                                <app-activity></app-activity>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>