<div class="container-fluid">
    <div class="row">
        <div class="col-xxl-4 col-md-6 box-col-6">
            <app-horizontal-solid></app-horizontal-solid>
        </div>
        <div class="col-xxl-4 col-md-6 box-col-6">
            <app-horizontal-dashed></app-horizontal-dashed>
        </div>
        <div class="col-xxl-4 col-md-6 box-col-6">
            <app-horizontal-dotted></app-horizontal-dotted>
        </div>
        <div class="col-xxl-4 col-md-6 box-col-6">
            <app-vertical-dashed></app-vertical-dashed>
        </div>
        <div class="col-xxl-4 col-md-6 box-col-6">
            <app-vertical-dotted></app-vertical-dotted>
        </div>
        <div class="col-xxl-4 col-md-6 box-col-6">
            <app-vertical-double></app-vertical-double>
        </div>
        <div class="col-md-6">
            <app-animated-color></app-animated-color>
        </div>
        <div class="col-md-6">
            <app-horizontal-editable></app-horizontal-editable>
        </div>
        <div class="col-md-6">
            <app-horizontal-simple></app-horizontal-simple>
        </div>
        <div class="col-md-6">
            <app-vertical-simple></app-vertical-simple>
        </div>
    </div>
</div>