<app-card [headerTitle]="'Turn Over'" [border]="true" [padding]="false">
    <div class="chart-container">
        <div class="row">
          <div class="col-12">
            <div id="chart-widget7">
                <apx-chart
                    [chart]="turnOverChart.chart"
                    [dataLabels]="turnOverChart.dataLabels"
                    [stroke]="turnOverChart.stroke"
                    [xaxis]="turnOverChart.xaxis"
                    [grid]="turnOverChart.grid"
                    [fill]="turnOverChart.fill"
                    [colors]="turnOverChart.colors"
                    [series]="turnOverChart.series"
                    [tooltip]="turnOverChart.tooltip">
                </apx-chart>
            </div>
          </div>
        </div>
    </div>
</app-card>