<div class="sidebar-panel-main">
    <ul>
        <li id="grip-click" (click)="open('layout')">
            <a href="javascript:void(0)" class="grip-click icon-btn btn-primary">
                <i class="fa-solid fa-grip"></i>
            </a>
            <span>Layouts</span>
        </li>
        <li id="cog-click" (click)="open('setting')">
            <a href="javascript:void(0)" class="cog-click icon-btn btn-primary">
                <i class="fa-solid fa-gear fa-spin"></i>
            </a>
            <span>Settings</span>
        </li>
    </ul>
</div>

<section class="layout-sidebar" [class.open]="customizer['layout']">
    <app-layout-customizer (layoutOpen)="handleLayout($event)"></app-layout-customizer>
</section>

<section class="setting-sidebar" [class.open]="customizer['setting']">
    <app-setting-customizer (settingOpen)="handleCustomizer($event)"></app-setting-customizer>
</section>