<div class="row">
    <div class="col-xxl-8 box-col-12">
        <app-project-detail></app-project-detail>
    </div>
    <div class="col-xxl-4 col-md-6 order-xxl-0 order-sm-1 box-col-6 box-ord-1">
      <app-project-to-do></app-project-to-do>
    </div>
    <div class="col-xl-8 xl-100 box-col-12">
      <app-pending-projects></app-pending-projects>
    </div>
    <div class="col-xl-4 xl-50 order-xxl-0 order-sm-2 col-md-6 box-col-6 box-ord-2">
      <app-task-overview></app-task-overview>
    </div>
    <div class="col-xxl-4 recent-xl-50 order-xxl-0 order-sm-3 box-col-12 box-ord-3">
      <app-recent-activity></app-recent-activity>
    </div>
    <div class="col-xl-4 xl-50 order-xxl-0 order-sm-4 col-md-6 box-col-6 box-ord-4">
      <app-team-member></app-team-member>
    </div>
    <div class="col-xl-4 xl-50 order-xxl-0 order-sm-5 col-md-6 box-col-6 box-ord-5">
      <app-comments></app-comments>
    </div>
</div>