<div class="container-fluid dashboard-4">
  <div class="row">
    <div class="col-xxl-3 col-xl-4 box-col-4">
      <div class="row">
        <div class="col-xl-12 col-sm-6">
          <app-details-card></app-details-card>
        </div>

        @for(details of averageDayDetails; track details) {
          <div class="col-xl-12 col-sm-6">
            <app-average-day-details [details]="details"></app-average-day-details>
          </div>
        }

        <div class="col-sm-12">
          <app-transactions></app-transactions>
        </div>
      </div>
    </div>
    <div class="col-xxl-6 col-xl-8 box-col-8e">
      <div class="row">
        
        @for(chart of currencyChart; track chart) {
          <div class="col-sm-4">
            <app-currency-chart [chart]="chart"></app-currency-chart>
          </div>
        }

        <div class="col-xl-12">
          <app-market-graph></app-market-graph>
        </div>
        <div class="col-xl-12">
          <app-my-currency></app-my-currency>
        </div>
        <div class="col-sm-6">
          <app-buy-coin></app-buy-coin>
        </div>
        <div class="col-sm-6">
          <app-sell-coin></app-sell-coin>
        </div>
      </div>
    </div>
    <div class="col-xxl-3 box-col-12">
      <div class="row box-order">
        <div class="col-xxl-12 col-sm-6 box-col-6">
          <app-balance></app-balance>
        </div>
        <div class="col-xxl-12 order-xxl-0 order-1">
          <app-my-portfolio></app-my-portfolio>
        </div>
        <div class="col-xxl-12 col-sm-6 box-col-6">
          <app-activities></app-activities>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <app-average-sale-price></app-average-sale-price>
    </div>
    <div class="col-md-6">
      <app-top-performers></app-top-performers>
    </div>
  </div>
</div>
