<div class="container-fluid">
    <div class="row">
        <div class="col-xxl-6 box-col-12">
            <app-card-placeholder></app-card-placeholder>
        </div>
        <div class="col-xxl-6 box-col-12">
            <app-width-sizing-placeholder></app-width-sizing-placeholder>
        </div>
        <div class="col-md-6">
            <app-animation-placeholder></app-animation-placeholder>
        </div>
        <div class="col-md-6">
            <app-custom-animation-placeholder></app-custom-animation-placeholder>
        </div>
        <div class="col-12">
            <app-color-placeholder></app-color-placeholder>
        </div>
    </div>
</div>