<app-card [headerTitle]="'Border Bottom'" [border]="true" [padding]="false" [header]="'border-b-info'" [cardClass]="'common-hover'">
  <p class="mt-1 f-m-light" header5>Use class of<code> border-b-* </code>for the bottom border.</p>
  <p>
    By using the border-color, we can give the border in the background direction in a creative way. You can design your creative card by taking only the <b>border-b-info</b> class.
    If you want to use other colors like this: <b>border-b-*</b>
  </p>
</app-card>