<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-xl-6">
            <app-simple-tab></app-simple-tab>
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-icon-tab></app-icon-tab>
        </div>
        <div class="col-sm-12 col-xxl-6">
            <app-vertical-tab></app-vertical-tab>
        </div>
        <div class="col-sm-12 col-xxl-6">
            <app-pills-tab></app-pills-tab>
        </div>
        <div class="col-xxl-6">
            <app-justify-tab></app-justify-tab>
        </div>
        <div class="col-xxl-6">
            <app-material-style-left-tab></app-material-style-left-tab>
        </div>
        <div class="col-xxl-6">
            <app-material-style-tab></app-material-style-tab>
        </div>
        <div class="col-xxl-6">
            <app-border-tab></app-border-tab>
        </div>
        <div class="col-xxl-6">
            <app-background-pill-tab></app-background-pill-tab>
        </div>
        <div class="col-xxl-6">
            <app-arrow-tab></app-arrow-tab>
        </div>
        <div class="col-xxl-6">
            <app-bottom-tab></app-bottom-tab>
        </div>
        <div class="col-xxl-6">
            <app-animated-tab></app-animated-tab>
        </div>
    </div>
</div>