<app-card [headerTitle]="'Flat Input Style'" [border]="true" [padding]="false">
  <p class="f-m-light mt-1" header5>
    Use <code>btn-square </code>to define 0px border-radius.
  </p>
  <form class="form theme-form dark-inputs">
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label class="form-label" for="exampleFormControlSelect12">Select Your Favorite Roman Number</label>
          <select2 [data]="selectNumber" [templates]="template" placeholder="I">
            <ng-template #template let-item="label">
              {{ item }}
            </ng-template>
          </select2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label class="form-label" for="exampleFormControlSelect13">Select Your Multiple Paintings</label>
          <select2 [data]="selectPainting" [templates]="template" [multiple]="true" placeholder="Landscape">
            <ng-template #template let-item="label">
              {{ item }}
            </ng-template>
          </select2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div>
          <label class="form-label" for="exampleFormControlTextarea14">Please Do Comments</label>
          <textarea class="form-control btn-square" id="exampleFormControlTextarea14" rows="3"></textarea>
        </div>
      </div>
    </div>
  </form>
</app-card>
