<div class="row g-3">
    <div class="col-sm-6">
      <label for="name">Name<span class="txt-danger">*</span></label>
      <input class="form-control" id="name" type="text" placeholder="Enter your name">
    </div>
    <div class="col-sm-6">
      <label class="form-label" for="student-email-wizard">Email<span class="txt-danger">*</span></label>
      <input class="form-control" id="student-email-wizard" type="email" placeholder="pixelstrap@gmail.com">
    </div>
    <div class="col-12">
      <label class="col-sm-12 form-label" for="password-wizard">Password<span class="txt-danger">*</span></label>
      <input class="form-control" id="password-wizard" type="password" placeholder="Enter password">
    </div>
    <div class="col-12">
      <label class="col-sm-12 form-label" for="confirmPassword">Confirm Password<span class="txt-danger">*</span></label>
      <input class="form-control" id="confirmPassword" type="password" placeholder="Enter confirm password">
    </div>
  </div>