<app-card [headerTitle]="'SVG\'s Tooltip'" [border]="true" [padding]="false" [cardBodyClass]="'svg-tooltip'">
    <p class="f-m-light mt-1" header5> Use<code> bg-light-* </code> to change light background color and <code>stroke-*</code> to change SVG colors.</p>

    <div class="common-flex">
        <div class="bg-light-info" placement="top" [ngbTooltip]="'Notification'">
            <app-svg-icon [icon]="'email-box'" [class]="'stroke-info'"></app-svg-icon>
          </div>
          <div class="bg-light-danger" placement="top" [ngbTooltip]="'Like'">
            <app-svg-icon [icon]="'stroke-bookmark'" [class]="'stroke-danger'"></app-svg-icon>
          </div>
          <div class="bg-light-dark" placement="top" [ngbTooltip]="'Comment'">
            <app-svg-icon [icon]="'stroke-msg'" [class]="'stroke-dark'"></app-svg-icon>
          </div>
          <div class="bg-light-primary" placement="top" [ngbTooltip]="'Share'">
            <app-svg-icon [icon]="'stroke-button'" [class]="'stroke-primary'"></app-svg-icon>
        </div>
    </div>
</app-card>