<form class="stepper-one row g-3 needs-validation custom-input" novalidate="">
    <div class="col-sm-6">
      <label class="form-label" for="email-basic-wizard">Email<span class="txt-danger">*</span></label>
      <input class="form-control" id="email-basic-wizard" type="email" required="" placeholder="pixelstrap@gmail.com">
    </div>
    <div class="col-sm-6">
      <label class="form-label" for="firstNameWizard">First Name<span class="txt-danger">*</span></label>
      <input class="form-control" id="firstNameWizard" type="text" required="" placeholder="Enter your name">
    </div>
    <div class="col-12">
      <label class="col-sm-12 form-label" for="passwordWizard">Password<span class="txt-danger">*</span></label>
      <input class="form-control" id="passwordWizard" type="password" placeholder="Enter password" required="">
    </div>
    <div class="col-12">
      <label class="col-sm-12 form-label" for="confirmPasswordWizard">Confirm Password<span class="txt-danger">*</span></label>
      <input class="form-control" id="confirmPasswordWizard" type="password" placeholder="Enter confirm password" required="">
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" id="inputCheckWizard" type="checkbox" value="" required="">
        <label class="form-check-label mb-0" for="inputCheckWizard">Agree to terms and conditions</label>
      </div>
    </div>
  </form>