<app-card [cardType]="'classic'" [headerTitle]="recentActivity.title" [sortDescription]="recentActivity.date" 
    [cardBodyClass]="'activity-wrapper pt-0'" [buttonText]="'View All'" [path]="'/task'">

    <ul class="schedule-wrapper nav nav-tabs" id="myTab" role="tablist">
        @for(activities of recentActivity.activities; track activities) {
            <li class="nav-item" (click)="handleTab(activities)">
                <a class="nav-link" [class.active]="activeTab == activities.date">
                    <h6>{{ activities.day }}</h6>
                    <span class="c-o-light">{{ activities.date }}</span>
                </a>
            </li>
        }
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade active show" id="sun" role="tabpanel" aria-labelledby="sun-tab">
            <ul class="activity-update">
                @for(activities of recentActivity.activities; track activities) {
                    @if(activeTab == activities.date) {
                        @for(activity of activities.activity; track activity) {
                            <li class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <h6>{{ activity.title }}</h6>
                                    <span>By 
                                        <a href="javascript:void(0)">{{ activity.customer_name }}</a>
                                    </span>
                                </div>
                                <div class="flex-shrink-0">
                                    <p class="mb-0">{{ activity.created_time }}</p>
                                    <app-svg-icon [icon]="'clock'"></app-svg-icon>
                                    <span>{{ activity.time }}</span>
                                </div>
                            </li>
                        }
                    }
                }
            </ul>
        </div>
    </div>
</app-card>