<app-card [headerTitle]="'Mixed Chart'" [border]="true" [padding]="false">
  <div id="mixedchart">   
    <apx-chart [chart]="mixChart.chart" [stroke]="mixChart.stroke" [plotOptions]="mixChart.plotOptions"
               [series]="mixChart.series" [fill]="mixChart.fill" [labels]="mixChart.labels"
               [markers]="mixChart.markers" [xaxis]="mixChart.xaxis" [yaxis]="mixChart.yaxis"
               [tooltip]="mixChart.tooltip" [legend]="mixChart.legend" [colors]="mixChart.colors">
    </apx-chart>
  </div>
</app-card>