<div class="container-fluid p-0">
    <div class="comingsoon basic-comingsoon">
      <div class="comingsoon-inner text-center">
        <img class="for-light" src="assets/images/other-images/logo-login.png" alt="logo">
        <img class="for-dark" src="assets/images/other-images/logo-light.png" alt="logo">
        <h5>WE ARE COMING SOON</h5>
        <div class="countdown" id="clock-arrival" data-hours="1" data-minutes="2" data-seconds="3">
          <app-timer></app-timer>
        </div>
      </div>
    </div>
</div>