<div class="notification-wrapper">
  @for(item of notifications.notification_list; track item) {
    <div class="form-check checkbox checkbox-primary mb-0">
      <input class="form-check-input" [id]="'checkbox-primary-' + item.id" type="checkbox" [checked]="item.checked">
      <label class="form-check-label" [for]="'checkbox-primary-' + item.id">{{ item.title }}</label>
    </div>
  }
</div>
<p class="f-w-500">Receive Notification On&colon;</p>
<ul class="checkbox-wrapper">
  @for(item of notifications.notification_platform; track item) {
    <li placement="top" [ngbTooltip]="item.name">
      <input class="form-check-input checkbox-shadow" [id]="'checkbox-icon' + item.id" type="checkbox">
      <label class="form-check-label" [id]="'checkbox-icon' + item.id">
        <i class="{{ item.logo }}"></i>
      </label>
    </li>
  }
</ul>
