<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card animate-wrapper">
          <div class="card-body">
            <div class="row">
              <div class="col-xl-6 col-md-8 offset-xl-3 offset-md-2">
                <div id="animation-box" [ngClass]="animated && animation ? 'animated' + ' ' + animation  :''">
                  <div class="card">
                    <div class="animate-widget">
                      <div><img class="img-fluid" src="assets/images/banner/3.jpg" alt="banner"></div>
                      <div class="text-center p-25">
                        <p class="text-muted mb-0">Denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings</p>
                      </div>
                    </div>
                  </div>
                </div>
                <form class="theme-form text-center">
                  <div class="mb-3">
                    <select2 class="w-75 input input--dropdown js-animations" [data]="animationValues" name="in" [(ngModel)]="animation" resetSelectedValue="bounceIn" placeholder="Select Value" noResultMessage="No Value Found." listPosition="above"></select2>
                  </div>
                  <button class="js-triggeraNimation btn btn-primary" (click)="animate()">Animate it</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>How to use it?</h5>
            <p class="f-m-light mt-1">All you have to do is to add animation name class attribute to html element, like :<code>Fade</code></p>
          </div>
          <div class="card-body options">
            @for(list of animationValues; track list) {
                @for(item of list.options; track item) {
                    <div>
                        {{ item.label }}
                    </div>
                }
            }
          </div>
        </div>
      </div>
    </div>
</div>