<app-card [headerTitle]="'Variation of Breadcrumb'" [border]="true" [padding]="false" [cardClass]="'height-equal'">
  <p class="f-m-light mt-1" header5>Using the <code>breadcrumb </code>class to any icon sets, you can set variations of the breadcrumb.</p>
  <nav class="breadcrumb breadcrumb-no-divider mb-0 gap-2">
    <a class="breadcrumb-item mb-1 mb-xl-0" href="javascript:void(0)">Home -></a>
    <a class="breadcrumb-item ps-0 mb-1 mb-xl-0" href="javascript:void(0)">Tables -></a>
    <a class="breadcrumb-item ps-0 mb-1 mb-xl-0" href="javascript:void(0)">Bootstrap Tables -></a>
    <span class="breadcrumb-item active ps-0">Basic Tables</span>
  </nav>
</app-card>

