<app-card [cardClass]="'follower-wrap'" [headerTitle]="facebookCampaign.title" [headerClass]="'mb-1'" [cardBodyClass]="'pt-0 papernote-wrap'">

    <div class="d-inline-block badge badge-light-{{ facebookCampaign.tag_color }} rounded-pill" header5>{{ facebookCampaign.tag }}</div>

    <span class="c-o-light">
      {{ facebookCampaign.description }}
    </span>

    <ul class="campaign-list">
      @for(details of facebookCampaign.details; track details) {
        <li>
          <div class="campaign-box">
            <h5 class="mb-1 counter">{{ details.value | number }}</h5>
            <span class="f-light">{{ details.title }}</span>
          </div>
        </li>
      }
    </ul>

    <div class="customers">
      <ul>
        @for(profile of facebookCampaign.userProfiles | slice: 0: showImage; track profile) {
          <li class="d-inline-block">
            <img class="img-40 rounded-circle" [src]="profile.image_url" alt="user">
          </li>
        }
        @if((facebookCampaign.userProfiles.length - showImage) >= 1){
          <li class="d-inline-block">
            <div class="light-card">
              <span class="f-w-500">+{{ facebookCampaign.userProfiles.length - showImage }}</span>
            </div>
          </li>
        }
      </ul>
    </div>
</app-card>
