<app-card [cardClass]="'mobile-app-card social-empower'" [headerTitle]="'Empowering Growth:'" [cardBodyClass]="'p-0 text-end'">

  <ng-container header5>
    <h6 class="c-o-light f-w-400 mb-4">Social Insights for Achievement</h6>
    <a class="purchase-btn btn btn-primary btn-hover-effect f-w-500" href="javascript:void(0)" [routerLink]="['/social-app']">Try Now</a>
  </ng-container>

  <img class="wavy" src="assets/images/dashboard-5/wave.png" alt="wave">
  <img src="assets/images/dashboard-5/mobile-img.png" alt="announcement">
</app-card>
