<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <app-initial-progress-bar></app-initial-progress-bar>
            <div class="row">
                <div class="col-xl-6">
                    <app-striped-progress-bar></app-striped-progress-bar>
                </div>
                <div class="col-xl-6">
                    <app-animated-progress-bar></app-animated-progress-bar>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <app-multiple-bar></app-multiple-bar>
                </div>
                <div class="col-xl-6">
                    <app-number-step-progress></app-number-step-progress>
                </div>
            </div>
            <app-custom-progress-bar></app-custom-progress-bar>
            <div class="row">
                <div class="col-xl-6">
                    <app-small-progress-bar></app-small-progress-bar>
                </div>
                <div class="col-xl-6">
                    <app-large-progress-bar></app-large-progress-bar>
                </div>
            </div>
        </div>
        <div class="col-xxl-6 box-col-12">
            <app-custom-size-progress-bar></app-custom-size-progress-bar>
        </div>
        <div class="col-xxl-6 box-col-12">
            <app-step-progress-bar></app-step-progress-bar>
        </div>
    </div>
</div>