<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <app-basic-tooltip></app-basic-tooltip>
        </div>
        <div class="col-md-6">
            <app-colored-tooltip></app-colored-tooltip>
        </div>
        <div class="col-md-6">
            <app-light-tooltip></app-light-tooltip>
        </div>
        <div class="col-lg-6">
            <app-tooltip-direction></app-tooltip-direction>
        </div>
        <div class="col-lg-6">
            <app-tooltip-html-element></app-tooltip-html-element>
        </div>
        <div class="col-lg-6">
            <app-tooltip-outlined></app-tooltip-outlined>
        </div>
        <div class="col-lg-6">
            <app-disabled-tooltip></app-disabled-tooltip>
        </div>
        <div class="col-lg-6">
            <app-svg-tooltip></app-svg-tooltip>
        </div>
        <div class="col-lg-6">
            <app-icon-tooltip></app-icon-tooltip>
        </div>
    </div>
</div>