<app-card [headerTitle]="'Animated Ribbons'" [border]="true" [padding]="false">
  <p class="f-m-light mt-1" header5>Use class of <code>[smooth-animate / vertical-left-animate ] </code>through create ribbons and all ribbon animations are available.</p>
  <div class="row g-3">
    <div class="col-lg-4 col-sm-6">
      <div class="vertical-ribbon-animate">
        <div class="ribbon-vertical-right-wrapper border border-1 vertical-rp-space height-equal">
          <div class="ribbon ribbon-vertical-right ribbon-secondary ribbon-bottom-arrow">
            <span>10% OFF</span>
          </div>
          <p>Ribbon designs use the class of <b>ribbon-vertical-right-wrapper & ribbon-bottom-arrow</b> through create top-start ribbon and common class use "ribbon".</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="animated-ribbon ribbon-wrapper smooth-animate border border-1 height-equal alert-light-light">
        <p class="mb-0">Ribbon designs use the class of <b>animated-ribbon & smooth-animate</b> through create bottom-end ribbon and common class use "ribbon".</p>
        <div class="box">
          <div class="ribbon">
            <i class="back"></i>
            <i class="front">
              <span>Upcoming</span>
            </i>
          </div>
        </div>
        <div class="box-svg">
          <svg class="ribbon-svg" id="ribbon" width="300" height="60"></svg>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="ribbon-wrapper smooth-animate border border-1 height-equal">
        <p>Ribbon designs use the class of <b>smooth-animate</b> through create top-start ribbon and common class use "ribbon".</p>
        <a class="media-image" href="javascript:void(0)">
          <span class="label label-new">Hot</span>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="vertical-left-animate">
        <div class="ribbon-wrapper border border-1 height-equal alert-light-light">
          <div class="ribbon ribbon-success ribbon-bookmark">
             <span>Latest</span>
             <i class="fa fa-bolt"></i>
            </div>
          <p>Ribbon designs use the class of <b>ribbon-bookmark & vertical-left-animate</b> through create top-start ribbon and common class use "ribbon".</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="triangular-ribbon">
        <div class="ribbon-wrapper border border-1 height-equal">
          <div class="ribbon triangular-ribbon-box">
            <div>
              <app-svg-icon [icon]="'pricing'"></app-svg-icon>
            </div>
          </div>
          <p>Ribbon designs use the class of <b>triangular-ribbon-box</b> through create top-start ribbon and common class use "ribbon".</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="vertical-ribbon-animate">
        <div class="ribbon-vertical-right-wrapper border border-1 vertical-rp-space height-equal alert-light-light">
          <div class="ribbon ribbon-bookmark ribbon-vertical-right ribbon-warning">
            <div>
              <i class="fa fa-bolt"></i>
              <span>FlashSale</span>
            </div>
          </div>
          <p>Ribbon designs use the class of <b>ribbon-vertical-right & ribbon-bookmark</b> through create top-end ribbon and common class use "ribbon".</p>
        </div>
      </div>
    </div>
  </div>
</app-card>