<div class="cart-box">
  <app-svg-icon [icon]="'stroke-ecommerce'"></app-svg-icon>
  @if(cartService.cartItems && cartService.cartItems.length) {
    <span class="badge rounded-pill badge-danger">{{ cartService.cartItems.length }}</span>
  }
</div>

<div class="cart-dropdown onhover-show-div">
  <h6 class="f-18 mb-0 dropdown-title">Cart</h6>
  <ul class="custom-scrollbar">
    @if(cartService.cartItems && cartService.cartItems.length) {
      @for(item of cartService.cartItems; track item) {
        <li>
          <div class="d-flex">
            <img class="img-fluid b-r-5 me-3 img-60" [src]="item.product_image" alt="{{ item.product_name }}">
            <div class="flex-grow-1">
              <span>{{ item.product_name }}</span>
              <div class="qty-box">
                <div class="input-group">
                  <span class="input-group-prepend">
                    <button class="btn quantity-left-minus" type="button"(click)="cartService.updateQuantity(-1, item)">-</button>
                    </span>
                  <input class="form-control input-number" type="text" name="quantity" [value]="item.quantity">
                  <span class="input-group-prepend">
                    <button class="btn quantity-right-plus" type="button" (click)="cartService.updateQuantity(1, item)">+</button>
                  </span>
                </div>
              </div>
              <h6 class="font-primary">${{ (item.discount_price ? item.discount_price : item.price) * item.quantity | number:
                '1.2-2' }}</h6>
            </div>
            <div class="close-circle">
              <a class="bg-danger" href="javascript:void(0)" (click)="cartService.deleteCartItem(item)">
                <app-feather-icon [icon]="'x'"></app-feather-icon>
              </a>
            </div>
          </div>
        </li>
      }
    } @else {
      <li class="empty-cart">
        <img src="assets/images/svg/empty-cart.svg" class="img-fluid">
        <h4>Oops!&nbsp;&nbsp;Empty cart!</h4>
      </li>
    }
  </ul>
  @if(cartService.cartItems && cartService.cartItems.length) {
  <ul class="pb-0">
    <li class="total">
      <h6 class="mb-0">Order Total : 
        <span class="f-right">{{ cartService.getSubTotal() }}</span>
      </h6>
    </li>
    <li class="text-center">
      <a class="d-block view-cart f-w-700 btn btn-primary w-100" href="javascript:void(0)" [routerLink]="'/cart'">View
        Cart</a>
      <a class="btn btn-primary view-checkout btn btn-primary w-100 f-w-700" href="javascript:void(0)" [routerLink]="'/checkout'">Checkout</a>
    </li>
  </ul>
}
</div>