<div class="main-card-box bg-10-{{ projectRating.card_color }} h-100">
    <div class="p-20 common-space">
        <div>
            <h5>{{ projectRating.rating }}</h5>
            <span class="c-o-light">{{ projectRating.title }}</span>
        </div>
      <div class="project-right-icon bg-10-{{ projectRating.card_color }}">
        <i class="fa-solid fa-{{ projectRating.icon }} fa-fade txt-{{ projectRating.card_color }}"></i>
    </div>
    </div>
    <div class="highlight-content">
        @for(details of projectRating.details; track details) {
            <div class="common-space">
                <span class="f-w-500">{{ details.title }}</span>
                <div> 
                    <app-feather-icon [class]="details.increase ? 'txt-success' : 'txt-danger'" [icon]="details.increase ? 'trending-up' : 'trending-down'"></app-feather-icon>
                    <span class="f-w-500">{{ details.rating}} / 10</span>
                </div>
            </div>
        }
    </div>
</div>