<div class="container-fluid">
    <div class="select2-drpdwn">
        <div class="row">
            <div class="col-md-12">
                <app-single-value-select></app-single-value-select>
            </div>
            <div class="col-sm-6">
                <app-default-select></app-default-select>
            </div>
            <div class="col-sm-6">
                <app-random-suggestion></app-random-suggestion>
            </div>
            <div class="col-md-4 col-md-6">
                <app-read-write-options></app-read-write-options>
            </div>
            <div class="col-md-4 col-md-6">
                <app-disabled-readonly></app-disabled-readonly>
            </div>
            <div class="col-md-4 col-md-6">
                <app-movie-suggestion></app-movie-suggestion>
            </div>
            <div class="col-md-6">
                <app-autocomplete-words></app-autocomplete-words>
            </div>
            <div class="col-md-6">
                <app-select-input-using-search></app-select-input-using-search>
            </div>
            <div class="col-md-6">
                <app-render-suggestion></app-render-suggestion>
            </div>          
        </div>
    </div>
</div>