<app-card [headerTitle]="'Today\'s Schedule'" [padding]="false" [cardClass]="'schedule-calender'" [cardBodyClass]="'pt-0'" [rightSideDetails]="true">

  <a class="btn f-w-500" href="javascript:void(0)" header3>+ Add</a>

  <ul class="schedule-wrapper nav nav-tabs" id="myTab" role="tablist">
    @for(day of days; track day) {
      <li class="nav-item">
        <a class="nav-link" [class.active]="activeDay == day.value" (click)="changeDay(day)">
          <h6>{{ day.day }} </h6>
          <span class="f-w-400">{{ day.date }}</span>
        </a>
      </li>
    }
  </ul>
  <div class="tab-content" id="myTabContent">
    @for(day of days; track day){
      <div class="tab-pane fade show" [ngClass]="{'active': activeDay === day.value}" id="mon" role="tabpanel" aria-labelledby="mon-tab">
        <ul class="activity-update">
          @for(schedule of filteredSchedule; track schedule) {
            <li>
              <div class="d-flex align-items-center b-l-{{ schedule.color_class }}">
                <div class="left-schedule"><span>{{ schedule.title }}</span>
                  <div class="common-f-start">
                    <div class="customers">
                      <ul>
                        @for(details of schedule.participants;track details){
                          <li class="d-inline-block">
                            <img class="img-40 rounded-circle" [src]="details.image" [alt]="details.alt">
                          </li>
                        }
                      </ul>
                    </div>
                    <span class="c-o-light schedule-name">{{ schedule.schedule_name }}</span>
                  </div>
                </div>
                <div class="right-schedule">
                  <app-svg-icon class="fill-icon fill-success" [icon]="'clock'"></app-svg-icon>
                  <span class="c-o-light">{{ schedule.time }}</span>
                </div>
              </div>
            </li>
          }
        </ul>
      </div>
    }
  </div>
</app-card>