<app-card [headerTitle]="'Auto Play Variant'" [border]="true" [padding]="false">
    <p class="f-m-light mt-1" header5>
        To create an autoplay image slider, use the <code>swiper</code> package with the <code>autoplay-swiper</code> and <code>sweeper-h</code> classes. This setup automatically transitions through images at a specified interval. In this example, the <code>Swiper</code> module is configured with autoplay, pagination, and navigation controls for a seamless user experience.
    </p>
        <div class="swiper autoplay-swiper swiper-h" #swiperContainer>
        <div class="swiper-wrapper">
            @for(slider of autoPlayVariant; track slider){
                <div class="swiper-slide"> 
                    <img class="img-fluid" [src]="slider.image" alt="image">
                </div>
            }
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
</app-card>