<form class="common-form">
  <div class="row g-3">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <label class="form-label" for="exampleFormControlInput1">Weight (kg)</label>
          <i class="icon-help-alt ms-1"></i>
        </div>
        <div class="col-12">
          <input class="form-control" id="inputCitya" type="number">
          <p class="f-light">Decide if the product is a digital or physical item. Shipping may be necessary for real-world items.</p>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row gx-xl-3 gx-md-2 gy-md-0 g-2">
        <div class="col-12">
          <label class="form-label" for="exampleFormControlInput1">Dimensions </label>
          <i class="icon-help-alt ms-1"></i>
        </div>
        <div class="col-md-4 col-sm-6">
          <input class="form-control" id="inputCityb" type="number" placeholder="Length[l]">
        </div>
        <div class="col-md-4 col-sm-6">
          <input class="form-control" id="inputCityc" type="number" placeholder="Width[w]">
        </div>
        <div class="col-md-4">
          <input class="form-control" id="inputCityd" type="number" placeholder="Height[h]">
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <label class="form-label" for="exampleFormControlInput1">Shipping Class</label>
        </div>
        <div class="col-md-12">
          <select2 [data]="shippingClass" [templates]="template" placeholder="Basic Shipping">
            <ng-template #template let-item="label">
              {{ item }}
            </ng-template>
          </select2>
        </div>
      </div>
    </div>
    <div class="col-12 product-buttons">
      <button class="btn" type="button" (click)="previous()">
        <app-svg-icon [icon]="'back-arrow'"></app-svg-icon>Previous
      </button>
      <button class="btn" type="button" (click)="next()">Next
        <app-svg-icon [icon]="'front-arrow'"></app-svg-icon>
      </button>
    </div>
  </div>
</form>