<app-card [cardClass]="'small-widget'" [cardBodyClass]="details.color">
    <span class="f-light">{{ details.title }}</span>
    <div class="d-flex align-items-end gap-1">
        <h4 class="counter">{{ details.count }}</h4>
        <span class="font-{{ details.color }} f-12 f-w-500">
            <i class="icon-arrow-{{ details.margin_type == 'profit' ? 'up' : 'down' }}"></i>
            <span>{{ details.margin_type == 'profit' ? '+' : '-' }} {{ details.margin }}</span>
        </span>
    </div>
    <div class="bg-gradient"> 
        <app-svg-icon [class]="'stroke-icon svg-fill'" [icon]="details.icon"></app-svg-icon>
    </div>
</app-card>