<div class="container-fluid dashboard-3">
    <div class="row">
        <div class="col-xxl-5 col-ed-6 col-xl-8 box-col-7">
            <div class="row">
                <div class="col-sm-12">
                    <app-welcome-card></app-welcome-card>
                </div>

                @for(course of courses; track course) {
                    <div class="col-sm-6">
                        <app-courses [course]="course"></app-courses>
                    </div>
                }
            </div>
        </div>
        <div class="col-xxl-2 col-ed-3 col-xl-4 col-sm-6 box-col-5">
            <app-today-progress></app-today-progress>
        </div>
        <div class="col-xl-2 col-ed-3 d-xxl-block d-sm-none box-col-none">
            <app-advertisement></app-advertisement>
        </div>
        <div class="col-xxl-3 col-ed-5 col-xl-5 col-sm-6 box-col-5">
            <app-calendar></app-calendar>
        </div>
        <div class="col-xxl-5 col-ed-7 col-xl-7 box-col-7">
            <app-learning-overview></app-learning-overview>
        </div>
        <div class="col-xxl-4 col-ed-7 col-xl-7 col-md-6 box-col-7">
            <app-activity-hours></app-activity-hours>
        </div>
        <div class="col-xxl-3 col-ed-5 col-xl-5 col-md-6 box-col-5">
            <app-upcoming-courses></app-upcoming-courses>
        </div>
        <div class="col-md-6">
            <app-top-mentors></app-top-mentors>
        </div>
        <div class="col-md-6">
          <app-completed-courses></app-completed-courses>
        </div>
        <div class="col-xxl-5 col-ed-12 box-col-12">
          <app-my-course></app-my-course>
        </div>
        <div class="col-xxl-4 col-ed-6 col-md-7 box-col-7">
          <app-upcoming-schedule></app-upcoming-schedule>
        </div>
        <div class="col-xxl-3 col-ed-6 col-md-5 box-col-5">
          <app-active-courses></app-active-courses>
        </div>
    </div>
</div>
