<form class="row g-3 needs-validation" novalidate="" [formGroup]="formValidation" (ngSubmit)="next()">
    <div class="col-12">
      <h6>Contact Details</h6>
      <p>Please visit the documentation page if you require further information.</p>
    </div>
    <div class="col-sm-6">
      <label class="form-label" for="validationCustom-select">Organization Name</label>
      <input class="form-control" id="validationCustom-select" type="text" placeholder="Gekko &amp; Co." formControlName="organizationName"
      [ngClass]="{ 'is-invalid' : formValidation.controls['organizationName'].touched && formValidation.controls['organizationName'].errors?.['required'] , 'is-valid' : formValidation.controls['organizationName'].valid}">
      @if(formValidation.controls['organizationName'].touched && formValidation.controls['organizationName'].errors?.['required']) {
       <div class="valid-feedback">Looks good!</div>
     }
    </div>
    <div class="col-sm-6">
      <label class="form-label">Email</label>
      <input class="form-control" type="text" placeholder="org@support.com" formControlName="email"
      [ngClass]="{ 'is-invalid' : formValidation.controls['email'].touched && formValidation.controls['email'].errors?.['required'] , 'is-valid' : formValidation.controls['email'].valid}">
      @if(formValidation.controls['email'].touched && formValidation.controls['email'].errors?.['required']) {
       <div class="valid-feedback">Looks good!</div>
     }
    </div>
    <div class="col-12">
      <label class="form-label" for="validationCustom-select">Join Organization Type</label>
      <select2 [data]="contactDetails"  [templates]="template" placeholder="Join Organization Type">
        <ng-template #template let-item="label">
          {{ item }}
        </ng-template>
      </select2>
    </div>
    <div class="col-12"> 
      <label class="form-label" for="organizationDescription">Organization Description</label>
      <textarea class="form-control" id="organizationDescription" placeholder="Share your problems and another issues" formControlName="description"
      [ngClass]="{ 'is-invalid' : formValidation.controls['description'].touched && formValidation.controls['description'].errors?.['required'] , 'is-valid' : formValidation.controls['description'].valid}">
      @if(formValidation.controls['email'].touched && formValidation.controls['email'].errors?.['required']) {
        <div class="invalid-feedback">Please enter a message in the box.</div>
      } 
    </textarea>
    </div>
    <div class="col-12 common-flex justify-content-end"> 
      <button class="btn btn-primary" (click)="previous()">Previous</button>
      <button class="btn btn-primary" type="submit">Continue </button>
    </div>
  </form>