<div class="container-fluid">
    <div class="row">
        <div class="col-xxl-4 col-md-6">
            <app-star-rating></app-star-rating>
        </div>
        <div class="col-xxl-4 col-md-6">
            <app-star-msg-rating></app-star-msg-rating>
        </div>
        <div class="col-xxl-4 col-md-6">
            <app-reset-rating></app-reset-rating>
        </div>
        <div class="col-xxl-4 col-md-6">
            <app-horizontal-rating-bar></app-horizontal-rating-bar>
        </div>
        <div class="col-xxl-4 col-md-6">
            <app-vertical-rating-bar></app-vertical-rating-bar>
        </div>
        <div class="col-xxl-4 col-md-6">
            <app-current-rating-bar></app-current-rating-bar>
        </div>
        <div class="col-xxl-4 col-md-6">
            <app-square-rating></app-square-rating>
        </div>
        <div class="col-xxl-4 col-md-6">
            <app-movie-rating></app-movie-rating>
        </div>
    </div>
</div>