<app-card [headerTitle]="'Open on focus'" [border]="true" [padding]="false">
  <p class="mt-1 mb-0" header5>It is possible to get the focus events with the current input value to emit results on
    focus with a great flexibility. In this simple example, a search is done no matter the content of the input:</p>
    <input id="typeahead-focus" type="text" class="form-control" placeholder="Search For a state" [(ngModel)]="model"
          [ngbTypeahead]="search" (focus)="focus$.next($any($event).target.value)"
          (click)="click$.next($any($event).target.value)" #instance="ngbTypeahead" />
</app-card>
