<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <app-card [headerTitle]="'Blog Edit'" [border]="true" [padding]="false" [cardBodyClass]="'add-post'">
        <form class="row g-3">
          <div class="col-sm-12">
            <div class="mb-3">
              <label for="validationCustom01">Title:</label>
              <input class="form-control" id="validationCustom01" type="text" placeholder="Post Title">
            </div>
            <div class="mb-3">
              <label>Type:</label>
              <div class="m-checkbox-inline">
                @for(type of blogType;track type){
                  <label for="{{ type.id }}">
                    <input class="radio_animated" id="{{ type.id }}" type="radio" name="rdo-ani" [checked]="type.checked">
                    {{ type.title }}
                  </label>
                }
              </div>
            </div>
            <div class="mb-3">
              <div class="col-form-label">Category:
                <select2 class="js-example-placeholder-multiple col-sm-12" [data]="addBlogCategory" [templates]="template" multiple="true">
                  <ng-template #template let-category="label">{{ category }}</ng-template>
                </select2>
              </div>
            </div>
            <div class="email-wrapper">
              <div class="theme-form">
                <div class="mb-3">
                  <label class="w-100">Content:</label>
                  <div class="toolbar-box">
                    <div class="NgxEditor__Wrapper">
                      <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
                      <ngx-editor [editor]="editor" [placeholder]="'Enter Your Messages..'"></ngx-editor>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <form class="dropzone dropzone-secondary" id="multiFileUpload">
          <dropzone [config]="Config" [message]="text"></dropzone>
        </form>
        <form class="row g-3 e-category">
          <div class="col-12">
            <div class="main-divider">
              <div class="divider-body">
                <h6>SEO Tags</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <label class="form-label" for="validationMetaTitle1">
              Meta Title
              <span class="txt-danger">*</span>
            </label>
            <input class="form-control" id="validationMetaTitle1" type="text" placeholder="Enter meta title">
          </div>
          <div class="col-lg-6">
            <label class="form-label" for="validationKeywords">
              Meta Keywords
              <span class="txt-danger">*</span>
              <span class="c-o-light">&nbsp;(In comma separated)</span>
            </label>
            <input class="form-control" id="validationKeywords" type="text" placeholder="Enter meta keywords">
          </div>
          <div class="col-md-12">
            <label class="form-label">Meta Description</label>
            <div class="toolbar-box">
              <div class="NgxEditor__Wrapper">
                <ngx-editor-menu [editor]="editor2"></ngx-editor-menu>
                <ngx-editor [editor]="editor2" [placeholder]="'Enter Your Messages..'"></ngx-editor>
              </div>
            </div>
          </div>
        </form>
        <div class="common-flex justify-content-end mt-3">
          <button class="btn btn-primary" type="submit">Post</button>
          <input class="btn btn-secondary" type="reset" value="Discard">
        </div>
      </app-card>
    </div>
  </div>
</div>