<div class="card schedule-card">
    <div class="card-header card-no-border">
      <div class="header-top">
        <div>
          <h5 class="m-0">Revenue Growth</h5>
          <span class="f-w-500 c-o-light">Today Revenue</span>
        </div>
        <div class="card-header-right-icon">
            <a class="btn btn-light f-w-500 c-o-light" [routerLink]="['/seller/1']">View As</a>
        </div>
      </div>
    </div>
    <div class="card-body pt-0"> 
      <div class="revenue-chart-container"> 
        <div id="revenue-chart">
            <apx-chart
                [series]="revenueGrowthChart.series"
                [chart]="revenueGrowthChart.chart"
                [stroke]="revenueGrowthChart.stroke"
                [xaxis]="revenueGrowthChart.xaxis"
                [grid]="revenueGrowthChart.grid"
                [colors]="revenueGrowthChart.colors"
                [fill]="revenueGrowthChart.fill"
                [legend]="revenueGrowthChart.legend"
                [yaxis]="revenueGrowthChart.yaxis"
                [responsive]="revenueGrowthChart.responsive">
            </apx-chart>
        </div>
      </div>
    </div>
</div>