<app-card [headerTitle]="'Custom Checkbox'" [border]="true" [padding]="false">
  <p class="f-m-light mt-1" header5>
    Use  <code>form-check-input </code>and <code>form-check-label </code>for checkbox and filled checkbox used
     <code>checkbox-solid-*</code> and bordered checkbox used <code>checkbox-*</code>.
    </p>
    <div class="row g-3">
      <div class="col-xl-4 col-sm-6">
        <div class="card-wrapper border rounded-3 h-100 checkbox-checked">
          <h6 class="sub-title">Bordered Checkbox </h6>
          @for(item of borderCheckbox; track item){
            <div class="form-check checkbox checkbox-{{ item.class }} mb-0">
              <input class="form-check-input" [id]=" item.for" type="checkbox" [checked]="item.value">
              <label class="form-check-label" [for]="item.for">{{ item.text }}</label>
            </div>
          }
        </div>
      </div>
      <div class="col-xl-4 col-sm-12 order-xl-0 order-sm-1">
        <div class="card-wrapper border rounded-3 h-100 checkbox-checked">
          <h6 class="sub-title">Icon Checkbox </h6>
          <div class="form-check checkbox checkbox-primary ps-0 main-icon-checkbox">
            <ul class="checkbox-wrapper">
              @for(icon of iconCheckbox; track icon){
                <li>
                  <input class="form-check-input checkbox-shadow" [id]="icon.for" type="checkbox" [checked]="icon.value">
                  <label class="form-check-label" [for]="icon.for">
                    <i class="fa {{ icon.icon }}"></i>
                    <span>{{icon.text }}</span>
                  </label>
                </li>
              }
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-sm-6">
        <div class="card-wrapper border rounded-3 h-100 checkbox-checked">
          <h6 class="sub-title">Filled Checkbox </h6>
          @for(item of filledCheckbox; track item){
            <div class="form-check checkbox checkbox-{{ item.class }}">
              <input class="form-check-input" [id]="item.id" type="checkbox" [checked]="item.value">
              <label class="form-check-label" [for]="item.id">{{ item.text }}</label>
            </div>
          }
        </div>
      </div>
    </div>
</app-card>