<div class="container-fluid">
  <div>
    <div class="row product-page-main p-0">
      <div class="col-xxl-4 col-md-6 box-col-6">
        <app-card>
        <div class="product-slider">
          <owl-carousel-o [options]="productMainThumbSlider" #owlCar id="thumbnailCarousel" (initialized)="onCarouselLoad()" (changed)="onSlideChange($event)">
            @if(images && images.length){
              <ng-container>
                @for(image of images; track image){
                  <ng-container>
                    <ng-template carouselSlide [id]="image.id.toString()">
                      <div class="item">
                        <lib-ngx-image-zoom
                          [thumbImage]="image.img"
                          [fullImage]="image.img"
                          [lensHeight]="250"
                          [lensWidth]="250"
                          [enableLens]="true"
                          [zoomMode]="'click'"
                          [magnification]="2"
                          [enableScrollZoom]="true">
                        </lib-ngx-image-zoom>
                      </div>
                    </ng-template>
                  </ng-container>
                }
              </ng-container>
            }
          </owl-carousel-o>
        </div>
        
        <owl-carousel-o [options]="productThumbSlider" #thumbnailCarousel>
          @for(image of images; track image){
          <ng-container>
            <ng-template carouselSlide [id]="image.id.toString()">
              <div class="item" [class.active]="image.id.toString() === activeSlide" (click)="owlCar.to(activeSlide = image.id.toString())">
                <img class="img-fluid" [src]="image.img" alt="image">
              </div>
            </ng-template>
          </ng-container>
        }
        </owl-carousel-o>
        </app-card>
      </div>

      <div class="col-xxl-5 box-col-12 order-xxl-0 order-1 box-ord-1">
        <app-product-content></app-product-content>
      </div>

      <div class="col-xxl-3 col-md-6 box-col-6">
        <app-product-details-sidebar></app-product-details-sidebar>
      </div>
    </div>
  </div>

  <app-product-details-tab></app-product-details-tab>
</div>
