<div class="container-fluid tree-view">
    <div class="row">
        <div class="col-lg-6">
            <app-stackable-sortable-lists></app-stackable-sortable-lists>
        </div>
        <div class="col-lg-6">
            <app-sortable-swap-list></app-sortable-swap-list>
        </div>
        <div class="col-lg-4 col-md-6">
            <app-simple-list></app-simple-list>
        </div>
        <div class="col-lg-4 col-md-6">
            <app-shared-list></app-shared-list>
        </div>
        <div class="col-lg-4">
            <app-disable-list></app-disable-list>
        </div>
        <div class="col-md-6">
            <app-sortable-handle-list></app-sortable-handle-list>
        </div>
        <div class="col-md-6">
            <app-draggable-filtering></app-draggable-filtering>
        </div>
        <div class="col-12">
            <app-random-sortable></app-random-sortable>
        </div>
    </div>
</div>