<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6"> 
            <app-custom-scrollbar></app-custom-scrollbar>
        </div>
        <div class="col-xl-6">
            <app-small-size-scrollbar></app-small-size-scrollbar>
        </div>
        <div class="col-xxl-4 col-md-6">
            <app-badge-scrollbar></app-badge-scrollbar>
        </div>
        <div class="col-xxl-4 col-md-6">
            <app-profile-scrollbar></app-profile-scrollbar>
        </div>
        <div class="col-xxl-4 col-md-12">
            <app-scrollbar-content></app-scrollbar-content>
        </div>
        <div class="col-xl-6">
            <app-horizontal-scrollbar></app-horizontal-scrollbar>
        </div>
        <div class="col-xl-6">
            <app-both-side-scrollbar></app-both-side-scrollbar>
        </div>
    </div>
</div>