<div class="container-fluid">
    <div class="row">
        <div class="col-xxl-3 col-lg-4 col-sm-6 col-12 box-col-4">
            <app-position-sweet-alert [title]="'Position Top Start'" [position]="'top-start'" [buttonColor]="'secondary'"></app-position-sweet-alert>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6 col-12 box-col-4">
            <app-position-sweet-alert [title]="'Position Top End'" [position]="'top-end'" [buttonColor]="'info'"></app-position-sweet-alert>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6 col-12 box-col-4">
            <app-position-sweet-alert [title]="'Position Bottom Start'" [position]="'bottom-start'" [buttonColor]="'warning'"></app-position-sweet-alert>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6 col-12 box-col-4">
            <app-position-sweet-alert [title]="'Position Bottom End'" [position]="'bottom-end'" [buttonColor]="'primary'"></app-position-sweet-alert>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6 col-12 box-col-4">
            <app-basic-sweetalert></app-basic-sweetalert>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6 col-12 box-col-4">
            <app-title-text-sweetalert></app-title-text-sweetalert>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6 col-12 box-col-4">
            <app-dismiss-sweetalert></app-dismiss-sweetalert>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6 col-12 box-col-4">
            <app-rich-html-sweetalert></app-rich-html-sweetalert>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6 col-12 box-col-4">
            <app-confirmation-sweetalert></app-confirmation-sweetalert>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6 col-12 box-col-4">
            <app-animated-sweetalert></app-animated-sweetalert>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6 col-12 box-col-4">
            <app-confirmation-trigger-sweetalert></app-confirmation-trigger-sweetalert>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6 col-12 box-col-4">
            <app-image-message-sweetalert></app-image-message-sweetalert>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6 col-12 box-col-4">
            <app-timer-sweetalert></app-timer-sweetalert>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6 col-12 box-col-4">
            <app-ajax-request-sweetalert></app-ajax-request-sweetalert>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6 col-12 box-col-4">
            <app-confirmation-approval-sweetalert></app-confirmation-approval-sweetalert>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6 col-12 box-col-4">
            <app-rtl-support-sweetalert></app-rtl-support-sweetalert>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6 col-12 box-col-4">
            <app-password-generator-sweetalert></app-password-generator-sweetalert>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6 col-12 box-col-4">
            <app-date-sweetalert></app-date-sweetalert>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6 col-12 box-col-4">
            <app-custom-positioned-sweetalert></app-custom-positioned-sweetalert>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6 col-12 box-col-4">
            <app-form-sweetalert></app-form-sweetalert>
        </div>
    </div>
</div>