<app-card [headerTitle]="'Raise Input Style'" [border]="true" [padding]="false" [cardBodyClass]="'theme-form'">
  <p class="f-m-light mt-1" header5>
    Use <code>input-air-* </code>to define bottom box-shadow.
  </p>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label class="form-label" for="exampleFormControlInput15">Email Address</label>
        <input class="form-control input-air-primary" id="exampleFormControlInput15" type="email" placeholder="name&#64;example.com">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label class="form-label" for="exampleInputPassword16">Password</label>
        <input class="form-control input-air-primary" id="exampleInputPassword16" type="password" placeholder="Password">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label class="form-label" for="exampleFormControlSelect17">Select Your Favorite Pixelstrap Theme</label>
        <select2 [data]="themeSelection" [templates]="template" placeholder="Tivo">
          <ng-template #template let-item="label">
            {{ item }}
          </ng-template>
        </select2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label class="form-label" for="exampleFormControlSelect18">Select The Color You Like Below</label>
        <select2 [multiple]="true" [data]="selectColor" [templates]="template" placeholder="Red">
          <ng-template #template let-item="label">
            {{ item }}
          </ng-template>
        </select2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div>
        <label class="form-label" for="exampleFormControlTextarea19">Comments</label>
        <textarea class="form-control input-air-primary" id="exampleFormControlTextarea19" rows="3"></textarea>
      </div>
    </div>
  </div>
  <div class="card-footer text-end" details>
    <button class="btn btn-primary me-3" type="submit">Submit</button>
    <input class="btn btn-light" type="reset" value="Cancel">
  </div>
</app-card>