<app-card [headerTitle]="'Animated Tabs'" [border]="true" [padding]="false" [cardBodyClass]="'horizontal-icons-tab'">
    <p class="mt-1 f-m-light" header5>
        Use the <code>ngbNav</code> directive to create tab navigation. use <code>horizontal-icons-tab</code>in card-body to create an <code>animation</code> tab.  
    </p>
        
    <ul class="nav nav-tabs border-tab mb-0" ngbNav #nav="ngbNav" [(activeId)]="activeTab">
        <li [ngbNavItem]="'home'">
            <a class="nav-link tab-info" ngbNavLink>
                <i class="icofont icofont-building-alt"></i>
                <span>Home</span>
            </a>
            <ng-template ngbNavContent>
                <p class="pt-3">This is some placeholder content for the <b>Home tab's </b>associated content. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling. You can use it with tabs, pills, and any other .nav-powered navigation. Bootstrap provides a flexible and easy-to-use tab component that allows developers to create tabbed navigation effortlessly.</p>
            </ng-template>
        </li>
        <li [ngbNavItem]="'profile'">
            <a class="nav-link tab-info" ngbNavLink>
                <i class="icofont icofont-user-male"></i>
                <span>Profile</span>
            </a>
            <ng-template ngbNavContent>
                <p class="pt-3">This is some placeholder content the <b>Profile tab's</b> associated content. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling. You can use it with tabs, pills, and any other .nav-powered navigation. Bootstrap provides a flexible and easy-to-use tab component that allows developers to create tabbed navigation effortlessly.</p>
            </ng-template>
        </li>
        <li [ngbNavItem]="'contact'">
            <a class="nav-link tab-info" ngbNavLink>
                <i class="icofont icofont-business-man"></i>
                <span>About Us</span>
            </a>
            <ng-template ngbNavContent>
                <p class="pt-3">This is some placeholder content the <b>About tab's </b>associated content. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling. You can use it with tabs, pills, and any other .nav-powered navigation. Bootstrap provides a flexible and easy-to-use tab component that allows developers to create tabbed navigation effortlessly.</p>
            </ng-template>
        </li>
        <li [ngbNavItem]="'gallery'">
            <a class="nav-link tab-info" ngbNavLink>
                <i class="icofont icofont-picture"></i>
                <span>Gallery</span>
            </a>
            <ng-template ngbNavContent>
                <p class="pt-3">This is some placeholder content the <b>Gallery tab's </b>associated content. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling. You can use it with tabs, pills, and any other .nav-powered navigation. Bootstrap provides a flexible and easy-to-use tab component that allows developers to create tabbed navigation effortlessly.</p>
            </ng-template>
        </li>
        <li [ngbNavItem]="'faq'">
            <a class="nav-link tab-info" ngbNavLink>
                <i class="icofont icofont-question-circle"></i>
                <span>FAQ</span>
            </a>
            <ng-template ngbNavContent>
                <p class="pt-3">This is some placeholder content the <b>FAQ tab's </b>associated content. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling. You can use it with tabs, pills, and any other .nav-powered navigation. Bootstrap provides a flexible and easy-to-use tab component that allows developers to create tabbed navigation effortlessly.</p>
            </ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>

</app-card>