<app-card [headerTitle]="'Border Right'" [header]="' border-r-secondary'" [cardClass]="'common-hover'" [border]="true" [padding]="false">
  <p class="mt-1 f-m-light" header5>Use class of <code>b-r-* </code>for the right border.</p>
  <p>You can design your creative card by taking only the <strong>border-r-secondary</strong> class.
    If you want to use other colors like this: <strong>border-r-*</strong>
  </p>
  <form>
    <label class="form-label" for="exampleFormControlInput1">Email address</label>
    <input class="form-control" id="exampleFormControlInput1" type="email" placeholder="your_email&#64;gmail.com">
  </form>
</app-card>