<app-card [headerTitle]="'Icons Tooltip'" [border]="true" [padding]="false" [cardBodyClass]="'svg-tooltip'">
    <p class="f-m-light mt-1" header5> Use <code>btn-outline-* </code>class to alter the outline's color, and you can position the tooltip in any swing.</p>

    <div class="common-flex">
        <div class="btn-outline-primary" placement="top" [ngbTooltip]="'Notification'"><i class="icofont icofont-envelope"></i></div>
        <div class="btn-outline-danger" placement="top" [ngbTooltip]="'Message'"><i class="icofont icofont-ui-text-loading"></i></div>
        <div class="btn-outline-dark" placement="top" [ngbTooltip]="'Send'"><i class="icofont icofont-location-arrow"></i></div>
        <div class="btn-outline-danger" placement="top" [ngbTooltip]="'Like'"><i class="icofont icofont-heart-alt"></i></div>
    </div>
</app-card>