<app-card [cardClass]="'o-hidden'" [headerTitle]="'Monthly History'" [border]="true" [padding]="false" [cardBodyClass]="'bottom-content'">
    <apx-chart 
        [series]="monthlyHistoryChart.series"
        [chart]="monthlyHistoryChart.chart"
        [plotOptions]="monthlyHistoryChart.plotOptions"
        [dataLabels]="monthlyHistoryChart.dataLabels"
        [stroke]="monthlyHistoryChart.stroke"
        [xaxis]="monthlyHistoryChart.xaxis"
        [yaxis]="monthlyHistoryChart.yaxis"
        [colors]="monthlyHistoryChart.colors"
        [fill]="monthlyHistoryChart.fill"
        [tooltip]="monthlyHistoryChart.tooltip"
        [responsive]="monthlyHistoryChart.responsive">
    </apx-chart>
</app-card>