<div class="col-12 position-relative">
    <div class="knowledgebase-bg">
        <img class="bg-img-cover bg-center" src="assets/images/knowledgebase/bg_1.jpg" alt="image">
    </div>
    <div class="knowledgebase-search">
        <div>
            <h3>How Can I help you?</h3>
            <form class="form-inline">
                <div class="form-group w-100">
                    <app-feather-icon [icon]="'search'"></app-feather-icon>
                    <input class="form-control-plaintext w-100" type="text" placeholder="Type question here">
                </div>
            </form>
        </div>
    </div>
</div>
<app-common-faq-details [details]="knowledgeBase"></app-common-faq-details>
