<app-card [headerTitle]="'Lists with Radios'" [border]="true" [padding]="false">
    <p class="f-m-light mt-1" header5>Use<code> form-check-input </code>to check your radio buttons.</p>

    <ul class="list-group">
        @for(list of radioList;track list){
            <li class="list-group-item">
              <input class="form-check-input me-2 checkbox-{{ list.class }}" [id]="list.id" type="radio" name="listGroupRadio" value="" [checked]="list.checked">
              <label class="form-check-label mb-0" [for]="list.id">{{ list.title }}</label>
            </li>
        }
      </ul>
</app-card>