<app-card [cardClass]="'mb-3 o-hidden'" [cardBodyClass]="'analytics-widget'">
    <div class="row g-md-4 g-2">
        <div class="col-sm-3">
            <img class="img-fluid" src="assets/images/dashboard-10/1.svg" alt="Analytics Chart">
        </div>
        <div class="col-sm-9">
          <h5 class="card-title">Website Analytics Process & Management </h5>
          <p class="card-text c-o-light">Website analytics is the process of analyzing and interpreting data related to website traffic, user behavior, and engagement to optimize.</p>
          <a class="purchase-btn btn btn-primary btn-hover-effect f-w-500" [routerLink]="['/pricing']" > Upgrade Plan</a>
        </div>
      </div>
</app-card>