<app-card [cardClass]="'height-equal'" [headerTitle]="'Animated Avatar'" [border]="true" [padding]="false" [cardBodyClass]="'avatar-showcase'">

    <p class="f-m-light mt-1" header5>Use<code> animation-ping </code>class with avatar to indicate <code>active/offline/dnd</code> status.</p>

    <div class="avatars">
        @for(avatar of animatedAvatar; track avatar) {
            <div class="avatar">
                <img class="rounded-circle" [ngClass]="avatar.class" [src]="avatar.profile" alt="avatar">
                <div class="status bg-{{ avatar.status }} animation-ping"></div>
            </div>
        }
    </div>
</app-card>