<app-card [headerTitle]="'Numbered & Badge Lists'" [border]="true" [padding]="false">
    <p class="f-m-light mt-1" header5>
        Use<code>  list-group-numbered</code> modifier class to  numbered list group items.Numbers are generated via CSS for better placement inside list group items.
    </p>
        <ol class="list-group list-group-numbered badge-list">
            @for(details of numberBadgeList; track details){
                <li class="list-group-item">
                  <div>{{ details.name }}</div>
                  <span class="badge badge-{{ details.tag_color }} rounded-pill p-2">{{ details.tag_text }}</span>
                </li>
              }
      </ol>
</app-card>
