<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <app-custom-horizontal-wizard></app-custom-horizontal-wizard>
        </div>
        <div class="col-sm-12">
            <app-business-vertical-wizard></app-business-vertical-wizard>
        </div>
        <div class="col-sm-12">
            <app-custom-vertical-wizard></app-custom-vertical-wizard>
        </div>
        <div class="col-sm-12">
            <app-business-horizontal-wizard></app-business-horizontal-wizard>
        </div>       
    </div>
</div>