<div class="container-fluid seller-details-wrapper">
  <div class="row">
    <div class="col-12 ord-xxl-2 box-ord-2">
      <div class="row">
        @for(details of storeGeneralDetails; track details) {
        <div class="col-xxl-3 col-sm-6">
          <app-store-general-details [details]="details"></app-store-general-details>
        </div>
        }
      </div>
    </div>

    <div class="col-xl-9 xl-100 ord-xxl-3 box-ord-3 box-col-12">
      <div class="row">
        <div class="col-12">
          <app-sales-overview></app-sales-overview>
        </div>
          <div class="col-12">
            <app-top-selling-products></app-top-selling-products>
          </div>
          <div class="col-12">
            <app-recent-orders></app-recent-orders>
          </div>
          <div class="col-12">
            <div class="card heading-space seller-details-table">
              <div class="card-header card-no-border text-end">
                <div class="header-top">
                  <h5>All Products</h5>
                  <div class="card-header-right-icon">
                    <a class="btn btn-light-primary f-w-500" href="javascript:void(0)" [routerLink]="['/product/create']">
                      <i class="fa-solid fa-plus pe-2"></i>
                      Add Products
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-body px-0 pt-0">
                <div class="list-product">
                  <div class="recent-table table-responsive custom-scrollbar">
                    <app-products [pageSize]="6" [hideColumns]="['sku', 'qty']"></app-products>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      <div class="col-xl-3 ord-xxl-1 box-ord-1">
        <app-seller-details-sidebar></app-seller-details-sidebar>
      </div>
  </div>
</div>