<div class="container-fluid">
    <div class="bootstrap-touchspin">
        <div class="row">
            <div class="col-xl-6">
                <app-default-touchspin></app-default-touchspin>
            </div>
            <div class="col-xl-6">
                <app-outline-touchspin></app-outline-touchspin>
            </div>
            <div class="col-xl-6">
                <app-icon-with-prefix-postfix></app-icon-with-prefix-postfix>
            </div>
            <div class="col-xl-6">
                <app-button-with-prefix-postfix></app-button-with-prefix-postfix>
            </div>
            <div class="col-xl-12">
                <app-rounded-touchspin></app-rounded-touchspin>
            </div>           
        </div>
    </div>
</div>