<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <app-card [headerTitle]="'Become a member'" [border]="true" [padding]="false">
                <div class="row g-3 pricing-block">
                    @for(details of becomeMember;track details){
                        <div class="col-lg-3 col-sm-6">
                            <div class="pricingtable">
                                <div class="pricingtable-header">
                                    <h3 class="title">{{ details.title }}</h3>
                                </div>
                                <div class="price-value">
                                    <span class="currency">$</span>
                                    <span class="amount">{{ details.price }}</span>
                                    <span class="duration">/mo</span>
                                </div>
                                <ul class="pricing-content">
                                    @for(item of details.details;track item){
                                        <li>{{ item.text }}</li>
                                    }
                                </ul>
                                <div class="pricingtable-signup">
                                    <a class="btn btn-primary btn-lg"  href="javascript:void(0)">Sign Up</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </app-card>
            <app-card [headerTitle]="'Simple Pricing Card'" [border]="true" [padding]="false" [cardBodyClass]="'pricing-content'">
                <div class="row g-sm-4 g-3">
                    @for(details of simplePricingCard;track details){
                        <div class="col-xxl-3 col-sm-6 box-col-6">
                            <div class="card text-center pricing-simple h-100">
                                <div class="card-body">
                                    <h4>{{ details.title }}</h4>
                                    <h5>${{ details.price }}</h5>
                                    <ul class="pricing-content">
                                        @for(item of details.details;track item){
                                            <li>
                                                <i class="fa-solid fa-circle-check"></i>
                                                {{item.text}}
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <a class="btn btn-lg btn-primary btn-block" href="javascript:void(0)">Purchase</a>
                            </div>
                        </div>
                    }
                </div>
            </app-card>
        </div>
    </div>
</div>