<form class="stepper-three row g-3 needs-validation custom-input" novalidate="">
    <div class="col-12">
      <label class="form-label" for="businessDetails">Business Details</label>
      <textarea class="form-control" id="businessDetails" placeholder="Enter your business details" required="" rows="3"></textarea>
      <div class="invalid-feedback">Please enter a message in the textarea.    </div>
    </div>
    <div class="col-sm-6">
      <label class="form-label">Establishment Date</label>
      <div class="input-group flatpicker-calender product-date">
        <input class="form-control" id="human-friendly1" type="date">
      </div>
    </div>
    <div class="col-sm-6"> 
      <label class="form-label" for="serviceArea">Business Type</label>
      <input class="form-control" id="serviceArea" type="text" placeholder="Enter your business type" required="">
    </div>
    <div class="col-lg-2 col-sm-3">
      <label class="form-label" for="serviceArea">Insured?</label>
      <div class="common-flex">
        <div class="form-check">
          <input class="form-check-input" id="flexRadioDefault1" type="radio" name="flexRadioDefault">
          <label class="form-check-label" for="flexRadioDefault1">Yes</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" id="flexRadioDefault2" type="radio" name="flexRadioDefault" checked="">
          <label class="form-check-label" for="flexRadioDefault2">No </label>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-sm-3">
      <label class="form-label" for="serviceArea">Licensed?</label>
      <div class="common-flex">
        <div class="form-check">
          <input class="form-check-input" id="flexRadioDefault3" type="radio" name="flexRadioDefault2">
          <label class="form-check-label" for="flexRadioDefault3">Yes</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" id="flexRadioDefault4" type="radio" name="flexRadioDefault2" checked="">
          <label class="form-check-label" for="flexRadioDefault4">No </label>
        </div>
      </div>
    </div>
    <div class="col-12"> 
      <label class="form-label" for="additional_info">Additional Info</label>
      <textarea class="form-control" id="additional_info" placeholder="You can write anything..." required="" rows="3"></textarea>
      <div class="invalid-feedback">Please enter a message in the textarea. </div>
    </div>
</form>