<app-card [headerTitle]="'Default Ratio'" [border]="true" [padding]="false">
  <p class="f-m-light mt-1" header5>Wrap any embed, like an <code>&lt;iframe&gt;</code> , in a parent element with <code>ratio </code>and an aspect<code> ratio</code> class. Here is a breakdown of these ratios:<code> 16x9 ratio</code>.</p>
  <div class="ratio ratio-16x9">
    <iframe src="https://www.youtube.com/embed/FjFWBcQPzSI?si=ZNk3GFvFTpZkPRlU" title="YouTube video" allowfullscreen="">        </iframe>
  </div>
</app-card>