<app-card [headerTitle]="'Rounded Touchspin'" [border]="true" [padding]="false"
  [cardBodyClass]="'common-flex rounded-touchspin'">
  <p class="f-m-light mt-1" header5>Use <code>decrement-touchspin </code>and <code>increment-touchspin </code>class for round style touchspin.</p>
  @for(details of touchSpinDetails; track details){
    <div class="touchspin-wrapper">
      <button class="decrement-touchspin btn-touchspin touchspin-{{ details.color }}"
        (click)="changeValue(details.id, -1)">
        <i class="fa-solid fa-angle-left"> </i>
      </button>
      <input class="input-touchspin spin-outline-{{ details.color }}" type="number" [value]="details.rounded_value ">
      <button class="increment-touchspin btn-touchspin touchspin-{{ details.color }}" (click)="changeValue(details.id, 1)">
        <i class="fa-solid fa-angle-right"></i>
      </button>
    </div>
  }
</app-card>