<div class="container-fluid">
    <div class="row">
        <div class="col-xxl-6">
            <app-flat-buttons></app-flat-buttons>
        </div>
        <div class="col-xxl-6">
            <app-defaults-buttons></app-defaults-buttons>
        </div>
        <div class="col-xxl-6">
            <app-button-sizes></app-button-sizes>
        </div>
        <div class="col-xxl-6">
            <app-outline-button-sizes></app-outline-button-sizes>
        </div>
        <div class="col-xxl-6">
            <app-rounded-button></app-rounded-button>
        </div>
        <div class="col-xxl-6">
            <app-outline-rounded-button></app-outline-rounded-button>
        </div>
        <div class="col-xxl-6">
            <app-rounded-sizes></app-rounded-sizes>
        </div>
        <div class="col-xxl-6">
            <app-outline-rounded-sizes></app-outline-rounded-sizes>
        </div>
        <div class="col-xxl-6">
            <app-disable-button></app-disable-button>
        </div>
        <div class="col-xxl-6">
            <app-icons-button></app-icons-button>
        </div>
        <div class="col-xxl-6">
            <app-icon-with-title></app-icon-with-title>
        </div>
        <div class="col-xxl-6">
            <app-dashed-border></app-dashed-border>
        </div>
        <div class="col-xxl-6">
            <app-loader-button></app-loader-button>
        </div>
        <div class="col-xxl-6">
            <app-ripple-button></app-ripple-button>
        </div>
        <div class="col-12">
            <app-button-group></app-button-group>
        </div>
        <div class="col-12">
            <app-block-level-button></app-block-level-button>
        </div>
        <div class="col-12">
            <app-button-variations></app-button-variations>
        </div>
        <div class="col-12">
            <app-bold-border-outline-button></app-bold-border-outline-button>
        </div>
        <div class="col-12">
            <app-radio-checkbox-animated-button></app-radio-checkbox-animated-button>
        </div>
        <div class="col-12">
            <app-radial-button></app-radial-button>
        </div>
    </div>
</div>
