<ul class="categories-list">
    @for(category of topCategories; track category) {
        <li class="d-flex"> 
            <div class="bg-light"> 
                <img [src]="category.image" [alt]="category.category_name"></div>
            <div> 
            <h6 class="mb-0">
                <a href="javascript:void(0)" [routerLink]="['/category']">{{ category.category_name }}</a>
            </h6>
            <span class="f-light f-12 f-w-500">({{ category.total_items | number }})</span>
            </div>
        </li>
    }
</ul>