<app-card [headerTitle]="'Image Badges'" [border]="true" [padding]="false">
    <p class="f-m-light mt-1" header5>Use<code> image-badges </code>class to set image sizes. </p>

    <div class="badge-spacing image-badges">
        @for(badge of imageBadge; track badge) {
            <span class="badge common-align txt-{{ badge.color }} rounded-pill badge-l-{{ badge.color }} rounded-pill border border-{{ badge.color }}">
                <img class="rounded-circle me-1" [src]="badge.profile" alt="user">{{ badge.text }}   
            </span>
        }
    </div>

</app-card>