<div class="container-fluid">
    <div class="row">
        <div class="col-xxl-3 col-sm-6">
            <app-link-utilities></app-link-utilities>
        </div>
        <div class="col-xxl-3 col-sm-6">
            <app-link-underlines></app-link-underlines>
        </div>
        <div class="col-xxl-3 col-sm-6">
            <app-border-opacity></app-border-opacity>
        </div>
        <div class="col-xxl-3 col-sm-6">
            <app-background-color-opacity></app-background-color-opacity>
        </div>
        <div class="col-sm-12">
            <app-common-links></app-common-links>
        </div>
    </div>
</div>