<div class="container-fluid p-0">
    <div class="row m-0">
      <div class="col-12 p-0">    
        <div class="login-card login-dark">
          <div class="restricted-account">
            <div>
                <a class="logo" href="javascript:void(0)" [routerLink]="['/']">
                    <img class="img-fluid for-light" src="assets/images/logo/logo.png" alt="logo">
                    <img class="img-fluid for-dark" src="assets/images/logo/logo_dark.png" alt="logo">
                </a>
            </div>
            <div class="login-main"> 
              <form class="theme-form">
                <h2>Your account login is restricted </h2>
                <p>Access to your account may be restricted you may have violated our professional community policies.</p>
                <a class="btn btn-primary" href="javascript:void(0)" target="_blank">Home Page</a>
                <img class="img-fluid" src="assets/images/login/4.png" alt="restricted account">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>