<app-card [headerTitle]="'Live Users'" [padding]="false" [cardBodyClass]="'live-user-wrapper pt-0'" [dropdownType]="'simple'" [options]="cardToggleOption">
    <div class="user-data">
        <h5>8,630k</h5>
        <span class="font-success">
          <app-feather-icon class="me-1 font-success f-w-500" [icon]="'trending-up'"></app-feather-icon>
             <span class="f-w-500 font-success">+50%&nbsp;</span>
        </span>
      </div>
      <div class="live-user-map">
        <div id="map">
            <div style="height: 250px;"
            leaflet 
            [leafletOptions]="options" (leafletMapReady)="onMapReady($event)">
        </div>
        </div>
      </div>
</app-card>