<app-card [headerTitle]="'Cryptocurrency Annotations'" [border]="true" [padding]="false">
    <div class="chart-container">
        <div class="row">
          <div class="col-12">
            <div id="chart-annotation">
                <apx-chart
                    [series]="cryptoAnnotationChart.series"
                    [chart]="cryptoAnnotationChart.chart"
                    [annotations]="cryptoAnnotationChart.annotations"
                    [dataLabels]="cryptoAnnotationChart.dataLabels"
                    [stroke]="cryptoAnnotationChart.stroke"
                    [grid]="cryptoAnnotationChart.grid"
                    [title]="cryptoAnnotationChart.title"
                    [colors]="cryptoAnnotationChart.colors"
                    [labels]="cryptoAnnotationChart.labels"
                    [xaxis]="cryptoAnnotationChart.xaxis"
                    [responsive]="cryptoAnnotationChart.responsive">
                </apx-chart>
            </div>
          </div>
        </div>
    </div>
</app-card>