<form class="row g-3 common-form">
  <div class="col-12">
    <div class="row g-2 product-tag">
      <label class="form-label d-block m-0">Colors</label>
      <tag-input [(ngModel)]="colors" name="tag" [editable]="true" class="form-control"></tag-input>
    </div>
  </div>
  <div class="col-12">
    <label class="form-label">Option Name</label>
    <select2 [data]="colorOptionName" [templates]="template" placeholder="Color">
      <ng-template #template let-item="label">
        {{ item }}
      </ng-template>
    </select2>
  </div>
  <div class="col-12">
    <label class="form-label">Options Value</label>
    <select2 [data]="colorOptionValue" [templates]="template" placeholder="Red">
      <ng-template #template let-item="label">
        {{ item }}
      </ng-template>
    </select2>
  </div>
  <div class="col-12 product-buttons">
    <button class="btn" type="button" (click)="previous()">
      <app-svg-icon [icon]="'back-arrow'"></app-svg-icon>Previous
    </button>
    <button class="btn" type="button" (click)="next()">Next
      <app-svg-icon [icon]="'front-arrow'"></app-svg-icon>
    </button>
  </div>
</form>