<app-card [headerTitle]="'Switch Sizing'" [border]="true" [padding]="false" [cardBodyClass]="'common-flex switch-wrapper'">
  <p class="f-m-light mt-1" header5>
    Use <code>switch-sm</code> and <code>switch-lg </code>class to create switch sizing.
  </p>
  @for(item of switchSizing;track item){
    <div class="d-flex">
      <label class="col-form-label m-r-10">{{ item.text }}</label>
      <div class="flex-grow-1 {{ item.class }}">
        <label class="switch">
          <input type="checkbox" [checked]="item.value" [disabled]="item.disable">
          <span class="switch-state {{item.div_class}}"></span>
        </label>
      </div>
    </div>
    }
</app-card>