<app-card [headerTitle]="'Top Followers By Country'" [headerClass]="'m-0'" [dropdownType]="'simple'"
    [options]="cardToggleOption" [cardBodyClass]="'pt-0'">

    <div class="follower-country mt-1">
        <div id="countryMap">
            <div style="height: 262px;"
                leaflet 
                [leafletOptions]="options" (leafletMapReady)="onMapReady($event)">
            </div>
        </div>
    </div>

    <div class="row top-country gx-lg-5 gy-4">
        @for(performer of topPerformers; track performer) {
            <div class="col-sm-6">
                <div class="common-space">
                  <div>
                    <img [src]="performer.country_flag" alt="flag">
                    <p class="mb-0 f-w-500">{{ performer.country_name }}</p>
                  </div>
                  <span class="c-o-light counter">{{ performer.total_followers }}</span>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-primary rounded-pill" [ngStyle]="{ 'width': (performer.total_followers / maxFollowers) * 100 + '%'}"></div>
                </div>
            </div>
        }
    </div>
</app-card>