<div class="tab-content custom-input">
  <form class="price-wrapper common-form row g-3">
    <div class="col-sm-6">
      <label class="form-label" for="initialCost">Initial Price</label>
      <input class="form-control" id="initialCost" type="number" placeholder="Price">
    </div>
    <div class="col-sm-6">
      <label class="form-label" for="sellingPrice">Selling Price </label>
      <input class="form-control" id="sellingPrice" type="number" placeholder="Price">
    </div>
    <div class="col-12">
      <label class="form-label">Product Discount Options
        <i class="icon-help-alt ms-1" data-bs-toggle="tooltip" data-bs-placement="top"
          data-bs-title="Choose the kind of discount that will be used on that particular item."></i>
        </label>
      <nav ngbNav #nav="ngbNav" class="nav nav-pills discount-options">
        <ng-container ngbNavItem>
          <div class="nav-item">
            <a ngbNavLink>
              <span>Fixed Price Discount</span>
            </a>
          </div>
          <ng-template ngbNavContent>
            <div class="meta-body">
              <div class="row g-3">
                <div class="col-12">
                  <label class="form-label" for="validationDiscountPrice">Discount Price</label>
                  <input class="form-control" id="validationDiscountPrice" type="number" placeholder="Discount">
                </div>
              </div>
            </div>
          </ng-template>
        </ng-container>
        <ng-container ngbNavItem>
          <div class="nav-item">
            <a ngbNavLink>
              <span>BOGO (Buy One, Get One)</span>
            </a>
          </div>
          <ng-template ngbNavContent>
            <div class="meta-body">
              <div class="row g-3">
                <div class="col-12">
                  <label class="form-label">Product Name
                    <span class="c-o-light">&nbsp;(Free) </span>
                  </label>
                  <select2 class="selectpicker search-picker" [data]="bogoProducts" [templates]="template"
                    placeholder="Select product">
                    <ng-template #template let-item="label">
                      {{ item }}
                    </ng-template>
                  </select2>
                </div>
                <div class="col-sm-6">
                  <label class="form-label" for="validationMinQuantity">Minimum Quantity</label>
                  <input class="form-control" id="validationMinQuantity" type="number" placeholder="Quantity">
                </div>
                <div class="col-sm-6">
                  <label class="form-label" for="validationMaxQuantity">Maximum Quantity</label>
                  <input class="form-control" id="validationMaxQuantity" type="number" placeholder="Quantity">
                </div>
              </div>
            </div>
          </ng-template>
        </ng-container>
        <ng-container ngbNavItem>
          <div class="nav-item">
            <a ngbNavLink>
              <span>Percentage Based Discount(%)</span>
            </a>
          </div>
          <ng-template ngbNavContent>
            <div class="meta-body">
              <div class="row g-3">
                <div class="col-md-12">
                  <label class="form-label" for="validationDiscount">Discount Percentage</label>
                  <input class="form-control" id="validationDiscount" type="number" placeholder="Discount">
                </div>
              </div>
            </div>
          </ng-template>
        </ng-container>
        <ng-container ngbNavItem>
          <div class="nav-item">
            <a ngbNavLink>
              <span>Volume or Bulk Discount</span>
            </a>
          </div>
          <ng-template ngbNavContent>
            <div class="meta-body">
              <div class="row g-3">
                <div class="col-12">
                  <label class="form-label" for="validationQuantity">Quantity</label>
                  <input class="form-control" id="validationQuantity" type="number" placeholder="Quantity">
                </div>
                <div class="col-12">
                  <div class="row g-3">
                    <div class="col-sm-6">
                      <label class="form-label" for="projectType">Discount Type</label>
                      <select2 class="selectpicker search-picker" [data]="priceDiscount" [templates]="template"
                        placeholder="Select product">
                        <ng-template #template let-item="label">
                          {{ item }}
                        </ng-template>
                      </select2>
                    </div>
                    <div class="col-sm-6">
                      <label class="form-label" for="projectType">Value</label>
                      <input class="form-control" type="number" placeholder="Discount" required="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </nav>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
    <div class="col-12 product-buttons">
      <button class="btn" type="button" (click)="previous()">
        <app-svg-icon [icon]="'back-arrow'"></app-svg-icon>Previous
      </button>
      <button class="btn" type="button" (click)="next()">Next
        <app-svg-icon [icon]="'front-arrow'"></app-svg-icon>
      </button>
    </div>
  </form>
</div>