<app-card [headerTitle]="'Page Analytics'" [padding]="false" [cardClass]="'heading-space'" [cardBodyClass]="'px-0 pt-0 page-analytics-table'" 
          [dropdownType]="'classic'" [options]="cardToggleOption" [dropdownClass]="'custom-dropdown'">
    <div class="recent-table table-responsive custom-scrollbar">
        <app-table [tableConfig]="tableConfig" [hasCheckbox]="true" [pageSize]="5" [paginateDetails]="true" [showPaginate]="true" [tableClass]="'table'">
        </app-table>
    </div>
</app-card>