<app-card [cardClass]="'height-equal helper-height-equal'" [headerTitle]="'Text Colors'" [border]="true" [padding]="false" [cardBodyClass]="'txt-space'">

    <p class="f-m-light mt-1" header5>Use text color for <code>font-*</code> classes.</p>

    <div class="font-primary">This is a <strong>font-primary </strong> text used class as font-primary</div>
    <div class="font-secondary">This is a <strong>font-secondary </strong> text used class as font-secondary </div>
    <div class="font-success">This is a <strong>font-success </strong> text used class as font-success</div>
    <div class="font-danger">This is a <strong>font-danger </strong> text used class as font-danger</div>
    <div class="font-warning">This is a <strong>font-warning </strong> text used class as font-warning</div>
    <div class="font-info">This is a <strong>font-info </strong> text used class as font-info</div>
    <div class="font-dark">This is a <strong>font-dark </strong> text used class as font-dark</div>

</app-card>
