<app-card [headerTitle]="'Display Headings'" [padding]="false" [border]="true" [headerClass]="'mb-0'" [cardBodyClass]="'d-flex flex-column gap-3'">
    <p class="f-m-light mt-1" header5>When you need a heading to stand out, consider using a
        <mark>display heading</mark>&mdash;a
        larger, slightly more opinionated heading style.
    </p>

    <h1 class="display-1">Display 1</h1>
    <h2 class="display-2">Display 2</h2>
    <h3 class="display-3">Display 3</h3>
    <h4 class="display-4">Display 4</h4>
    <h5 class="display-5">Display 5</h5>
    <h6 class="display-6">Display 6</h6>
    
</app-card>