<div class="container-fluid default-toasts">
    <div class="row">
        <div class="col-12">
            <app-message-toast></app-message-toast>
        </div>
        <div class="col-md-6">
            <app-live-toast></app-live-toast>
        </div>
        <div class="col-md-6">
            <app-color-scheme-toast></app-color-scheme-toast>
        </div>
        <div class="col-md-6">
            <app-stacking-toast></app-stacking-toast>
        </div>
        <div class="col-md-6">
            <app-translucent-toast></app-translucent-toast>
        </div>
        <div class="col-md-6">
            <app-default-toast></app-default-toast>
        </div>
        <div class="col-md-6">
            <app-unique-toast></app-unique-toast>
        </div>
        <div class="col-sm-12">
            <app-toast-placement></app-toast-placement>
        </div>
    </div>
</div>