<div class="card-wrapper border rounded-3 h-100">
  <div class="authenticate">
    <h5 class="pb-2">Verification Code</h5>
    <img class="img-fluid" src="assets/images/forms/authenticate.png" alt="authenticate">
    <span>We've sent a verification code to</span>
    <span>+91********70</span>
    <form class="row">
      <div class="col"> 
        <h5>Your OTP Code here:</h5>
      </div>
      <div class="col otp-generate">
        <input class="form-control code-input" type="text" maxlength="1" pattern="[0-9]" required>
        <input class="form-control code-input" type="text" maxlength="1" pattern="[0-9]" required>
        <input class="form-control code-input" type="text" maxlength="1" pattern="[0-9]" required>
        <input class="form-control code-input" type="text" maxlength="1" pattern="[0-9]" required>
        <input class="form-control code-input" type="text" maxlength="1" pattern="[0-9]" required>
        <input class="form-control code-input" type="text" maxlength="1" pattern="[0-9]" required>
      </div>
      <div class="col"> 
        <button class="btn btn-primary w-100" type="submit">Verify</button>
      </div>
      <div> 
          <span>Not received your code?</span>
          <span>
              <a href="javascript:void(0)">Resend </a>
              OR 
              <a href="javascript:void(0)">Call  </a>
          </span>
      </div>
    </form>
  </div>
</div>