<div class="row">
    @for( switch of commonSwitch; track switch){
    <div class="{{ switch.class }}">
        <app-card [headerTitle]="switch.title" [cardClass]="'height-equal'" [border]="true" [padding]="false" [cardBodyClass]="'common-flex flex-column switch-wrapper'">
            <p class="f-m-light mt-1" [innerHTML]="switch.sub_description" header5></p>
                @for( item of switch.item; track item){
                    <div class="d-flex">
                        <div class="text-end {{switch.div_class}}">
                            <label class="switch mb-0">
                                <input type="checkbox" [checked]="item.value">
                                <span class="switch-state bg-{{ item.color_class }}"></span>
                            </label>
                        </div>
                        <label class="col-form-label m-l-10">{{ item.text }}</label>
                    </div>
                 }
        </app-card>
    </div>
    }
</div>