<div class="wizard-title">
  <h2>Sign up to account</h2>
  <h5 class="text-muted mb-4">Enter your email & password to login</h5>
</div>
<div class="login-main">
  <div class="theme-form">
    <div class="form-group mb-3 m-t-15">
      <label for="exampleFormControlInput1">Email Address</label>
      <input class="form-control" id="exampleFormControlInput1" type="email" placeholder="name@example.com">
    </div>
    <div class="form-group mb-3">
      <label for="exampleInputPassword1">Password</label>
      <input class="form-control" id="exampleInputPassword1" type="password" placeholder="Password">
    </div>
    <div class="form-group mb-3">
      <label for="exampleInputPassword1">Confirm Password</label>
      <input class="form-control" id="exampleInputcPassword1" type="password" placeholder="Enter again">
    </div>
  </div>
</div>