<div class="container-fluid dashboard-6">
    <div class="row">
        <div class="col-xxl-3 col-xl-4 col-md-6 custom-rs-4 box-col-6">
            <app-trending-creator></app-trending-creator>
        </div>
        <div class="col-xxl-6 col-xl-4 custom-rs-4 explore-wrap box-col-none">
            <app-banner></app-banner>
        </div>
        <div class="col-xxl-3 col-xl-4 col-md-6 custom-rs-4 box-col-6">
            <app-welcome-card></app-welcome-card>
        </div>
        <div class="col-xl-6 box-col-12">
            <div class="card income-wrap">
                <div class="row mx-0">
                    <div class="col-xxl-6 px-0 col-xl-12 col-md-6">
                        <app-income-chart></app-income-chart>
                    </div>
                    <div class="col-md-6 px-0 d-xxl-block d-xl-none">
                        <app-artworks></app-artworks>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 box-col-12">
            <app-trending-bids></app-trending-bids>
        </div>
        <div class="col-xxl-3 col-xl-4 box-col-12">
            <app-analytics-chart></app-analytics-chart>
        </div>
        <div class="col-xxl-9 col-xl-8 box-col-12">
            <div class="row">
                <div class="col-sm-12">
                    <app-explore-artwork></app-explore-artwork>
                </div>
                <div class="col-xxl-8 col-lg-12 col-md-6">
                    <app-top-nft></app-top-nft>
                </div>
                <div class="col-xxl-4 col-lg-12 col-md-6 d-xxl-block d-xl-none d-block">
                    <app-statistics></app-statistics>
                </div>

                @for(activity of activityPanel; track activity; let i = $index) {
                    <div [ngClass]="(i === activityPanel.length - 1) ? 'col-xl-4 d-xxl-block d-xl-none d-block' : 'col-xxl-4 col-xl-6 col-sm-6'">
                        <app-activity-panel [activity]="activity"></app-activity-panel>
                    </div>
                }
                
            </div>
        </div>
        <div class="col-12">
            <app-live-auction></app-live-auction>
        </div>
        <div class="col-xxl-4 col-sm-6 order-xxl-0 order-sm-2 box-col-6 box-ord-2">
            <app-creators></app-creators>
        </div>
        <div class="col-xxl-4 order-xxl-0 order-sm-1 box-col-12 box-ord-1">
            <app-collections></app-collections>
        </div>
        <div class="col-xxl-4 col-sm-6 order-xxl-0 order-sm-3 box-col-6 box-ord-3">
            <app-artwork-table></app-artwork-table>
        </div>
    </div>
</div>