<app-card [headerTitle]="'Projects Overview'" [headerClass]="'m-0'" [border]="true" [padding]="false">
    <div class="row g-3">
        <div class="col-xxl-3 col-sm-6 box-col-6">
            <app-project-cost-performance></app-project-cost-performance>
        </div>
        <div class="col-xxl-3 col-sm-6 box-col-6">
            <app-project-rating></app-project-rating>
        </div>
        <div class="col-xxl-3 col-sm-6 box-col-6">
            <app-project-professional-team></app-project-professional-team>
        </div>
        <div class="col-xxl-3 col-sm-6 box-col-6">
            <app-total-projects></app-total-projects>
        </div>
    </div>
</app-card>