<app-card [headerTitle]="'Aspect Ratios'" [border]="true" [padding]="false">
  <p class="f-m-light mt-1" header5>Aspect ratios can be customized with modifier classes. By default the following ratio classes are provided:<code>[ratio-1x1 / ratio-4x3 / ratio-16x9 / ratio-21x9]</code>.</p>
  <div class="row gap-lg-0 gap-4"> 
    @for(details of aspectRatios;track details){
      <div class="col-lg-3">
        <div class="ratio ratio-{{ details.class }}">
          <iframe src="https://www.youtube.com/embed/FjFWBcQPzSI?si=ZNk3GFvFTpZkPRlU" title="YouTube video" allowfullscreen=""></iframe>
        </div>
      </div>
    }
  </div>
</app-card>