<app-card [cardClass]="'papernote-wrap statistics-card'" [headerTitle]="'Statistics'" [padding]="false" [cardBodyClass]="'pt-0'" [cardType]="'dataTable'">
    <a class="f-light d-flex align-items-center gap-1" href="javascript:void(0)" header7>View 
        <i class="f-w-700 icon-arrow-right"></i>
    </a>

    <ul class="d-flex"> 
        <li><span class="f-light">Total art sold</span>
          <h5 class="counter">{{ statistics.total_art_sold | number }}</h5>
        </li>
        <li><span class="f-light">Total Earning</span>
          <h5><span class="counter">{{ statistics.total_earning | number }}</span> ETH</h5>
        </li>
    </ul>
    <div class="statistic-chart-wrap">  
        <div id="statistic-chart">
            <apx-chart
                [series]="statistics.chart_details.series"
                [chart]="statistics.chart_details.chart"
                [dataLabels]="statistics.chart_details.dataLabels"
                [stroke]="statistics.chart_details.stroke"
                [xaxis]="statistics.chart_details.xaxis"
                [yaxis]="statistics.chart_details.yaxis"
                [grid]="statistics.chart_details.grid"
                [colors]="statistics.chart_details.colors"
                [fill]="statistics.chart_details.fill"
                [responsive]="statistics.chart_details.responsive">
            </apx-chart>
        </div>
    </div>
</app-card>