<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Support Ticket List</h5>
                    <p class="f-m-light mt-1">List of ticket open by customers</p>
                </div>
                <div class="card-body">
                    <div class="row gx-3">
                        <app-support-ticket-list></app-support-ticket-list>
                    </div>
                    <app-support-ticket-data-table></app-support-ticket-data-table>
                </div>
            </div>
        </div>
    </div>
</div>