<div class="row">
    @for(item of details;track item){
      <div class="col-xl-4 col-sm-6">
        <div class="card bg-primary">
          <div class="card-body">
            <div class="d-flex faq-widgets">
              <div class="flex-grow-1">
                <h5>{{ item.title }}</h5>
                <p>{{ item.description }}</p>
              </div>
              <app-feather-icon [icon]="item.icon"></app-feather-icon>
            </div>
          </div>
        </div>
      </div>
    }
  </div>