<form class="stepper-four row g-3 needs-validation custom-input" novalidate="">
    <div class="col-sm-6">
      <label class="form-label" for="bankName">Bank Name</label>
      <input class="form-control" id="bankName" type="text" placeholder="Enter your bank name" required="">
    </div>
    <div class="col-sm-6"> 
      <label class="form-label" for="cardNumber">Card Number</label>
      <input class="form-control" id="cardNumber" type="number" placeholder="xxxx xxxx xxxx xxxx" required="">
    </div>
    <div class="col-xl-4">
      <label class="form-label" for="expirationDates01">Expiration(MM/YY)</label>
      <input class="form-control" id="expirationDates01" type="number" placeholder="xx/xx" required="">
    </div>
    <div class="col-xl-4 col-sm-6">
      <label class="form-label" for="cvvNumber">CVV Number</label>
      <input class="form-control" id="cvvNumber" type="number" required="">
    </div>
    <div class="col-xl-4 col-sm-6">
      <label class="form-label" for="shiftCode">Shift Code</label>
      <input class="form-control" id="shiftCode" type="text" required="">
    </div>
</form>