<app-card [cardClass]="'height-equal'" [headerTitle]="'Confirmation with Approvals'" [border]="true" [padding]="false">

    <p class="f-m-light mt-1" header5>
        Use <code>Swal.mixin</code> to create a custom-styled confirmation dialog with Bootstrap buttons. The dialog asks the user if they are sure about deleting an item, and shows a success or error message depending on their response.
    </p>
                   
    <button class="btn btn-primary sweet-11" type="button" (click)="open()">Click it!</button>

</app-card>