<div class="md-sidebar">
    <a class="btn btn-primary email-aside-toggle md-sidebar-toggle" (click)="openFilter()">Learning filter</a>
    <div class="md-sidebar-aside job-sidebar" [class.open]="isOpen">
        <div class="default-according style-1 faq-accordion job-accordion">
            <div class="accordion" ngbAccordion>
                @for(details of courseSidebar; track details){
                    <div class="card" ngbAccordionItem [collapsed]="false">
                        <div class="card-header" id="headingOne" ngbAccordionHeader>
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-start" type="button" ngbAccordionButton>
                                    {{ details.title }}
                                </button>
                            </h2>
                        </div>
                        <div class="collapse show" ngbAccordionCollapse>
                            <div class="card-body {{ details.class }}" ngbAccordionBody>
                                <ng-template>
                                    @if(details.search){
                                        <div class="job-filter mb-2">
                                            <div class="faq-form">
                                                <input class="form-control" type="text" placeholder="Search..">
                                                <app-feather-icon [icon]="'search'" [class]="'search-icon'"></app-feather-icon>
                                            </div>
                                        </div>
                                    }
                                    @for(item of details.details;track item){
                                        <div [class]="item.class">
                                            <div class="learning-header">
                                                <span class="f-w-600">{{ item.sub_title}}</span>
                                            </div>
                                            @for(details of item.item;track details){
                                                @if(!details.badge){
                                                    <label class="d-block" for="{{ details.check_id }}">
                                                        <input [class]="details.class" id="{{ details.check_id }}" type="checkbox"> 
                                                        {{ details.title}}
                                                    </label>
                                                } @else {
                                                    <ul>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                {{ details.title }}
                                                            </a>
                                                            <span class="badge badge-primary pull-right">{{ details.badge_text }}</span>
                                                        </li>
                                                    </ul>
                                                }
                                            }
                                            @if(item.rating){
                                                <div class="flex-grow-1">
                                                    <span class="f-w-500">{{ item.title }}</span>
                                                    <span class="d-block">
                                                        Course By
                                                        <a href="javascript:void(0)">{{ item.created_by }}</a>
                                                    </span>
                                                    <span class="d-block">
                                                        <ngb-rating [(rate)]="item.rate">
                                                            <ng-template let-fill="fill">
                                                              <i [ngClass]="fill === 100 ? 'fa-solid fa-star font-warning' : (fill > 0 ? 'fa-solid fa-star-half-stroke font-warning': 'fa-regular fa-star font-warning')"></i>
                                                            </ng-template>
                                                        </ngb-rating>
                                                    </span>
                                                </div>
                                                <div>
                                                    <h5 class="mb-0 font-primary">{{ item.date }}</h5>
                                                    <span class="d-block">{{ item.month }}</span>
                                                </div>
                                                }
                                            </div>
                                        }
                                    @if(details.search){
                                        <button class="btn btn-primary text-center" type="button">{{ details.button }}</button>
                                    }
                                </ng-template>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>