<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <app-grid-options></app-grid-options>
        </div>
        <div class="col-sm-12">
            <app-grid-for-columns></app-grid-for-columns>
        </div>
        <div class="col-xl-5">
            <app-flex-behaviors></app-flex-behaviors>
        </div>
        <div class="col-xl-7">
            <app-horizontal-gutters></app-horizontal-gutters>
        </div>
        <div class="col-xl-6">
            <app-vertical-gutters></app-vertical-gutters>
        </div>
        <div class="col-xl-6">
            <app-row-column-gutters></app-row-column-gutters>
        </div>
        <div class="col-sm-12">
            <app-no-gutters></app-no-gutters>
        </div>
        <div class="col-sm-12">
            <app-vertical-alignment></app-vertical-alignment>
        </div>
        <div class="col-sm-12">
            <app-horizontal-alignment></app-horizontal-alignment>
        </div>
        <div class="col-sm-12">
            <app-nesting></app-nesting>
        </div>
        <div class="col-sm-12">
            <app-order></app-order>
        </div>
        <div class="col-sm-12">
            <app-offset></app-offset>
        </div>
    </div>
</div>