<form class="stepper-two row g-3 needs-validation custom-input" novalidate="">
    <div class="col-sm-6">
      <label class="form-label" for="formFileDocument">Business Logo</label>
      <input class="form-control" id="formFileDocument" type="file" required="">
    </div>
    <div class="col-sm-6"> 
      <label class="form-label" for="companyName">Business Name</label>
      <input class="form-control" id="companyName" type="text" required="" placeholder="Enter your business name here">
    </div>
    <div class="col-12">
      <label class="form-label">Business Address</label>
      <textarea class="form-control" placeholder="Enter your business address" required="" rows="3"></textarea>
      <div class="invalid-feedback">Please enter a message in the textarea.</div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <label class="form-label" for="phoneNumber">Phone Number</label>
      <input class="form-control" id="phoneNumber" type="number" placeholder="Enter your phone number" required="">
    </div>
    <div class="col-lg-4 col-sm-6">
      <label class="form-label" for="validationServer05">Postal Code</label>
      <input class="form-control" id="validationServer05" type="text" placeholder="Enter your postal code" required="">
    </div>
    <div class="col-lg-4">
      <label class="form-label" for="companyEmail">Business Email</label>
      <input class="form-control" id="companyEmail" type="email" placeholder="Enter your business email" required="">
    </div>
    <div class="col-sm-6">
      <label class="form-label" for="contactPersonName">Contact Person Name</label>
      <input class="form-control" id="contactPersonName" type="text" placeholder="Enter your contact person name" required="">
    </div>
    <div class="col-sm-6">
      <label class="form-label" for="contactPersonPhone">Contact Person Phone</label>
      <input class="form-control" id="contactPersonPhone" type="number" placeholder="Enter your contact person phone" required="">
    </div>
</form>