<app-card [headerTitle]="'Basic Area Chart'" [border]="true" [padding]="false">
  <div id="basic-apex">
    <apx-chart [chart]="basicChart.chart" [dataLabels]="basicChart.dataLabels" [stroke]="basicChart.stroke"
               [series]="basicChart.series" [title]="basicChart.title" [subtitle]="basicChart.subtitle"
               [labels]="basicChart.labels" [xaxis]="basicChart.xaxis" [yaxis]="basicChart.yaxis"
               [legend]="basicChart.legend" [colors]="basicChart.colors">
    </apx-chart>
  </div>
</app-card>