<div class="error-wrapper">
    <div class="container">
        <app-svg-icon [icon]="'error-403'"></app-svg-icon>
        <div class="col-md-8 offset-md-2">
            <h3>Forbidden Error</h3>
            <p class="sub-content">If you receive a 403 Forbidden error, either verify your access privileges or get in touch with the server administrator to obtain the necessary authorization.</p>
        </div>
        <div>
            <a class="btn btn-primary btn-lg" href="javascript:void(0)" (click)="navigate()">BACK TO HOME PAGE</a>
        </div>
    </div>
</div>