<app-card [cardClass]="'height-equal'" [headerTitle]="'Only One Side Padding'" [border]="true" [padding]="false">

    <p class="f-m-light mt-1" header5>Use padding classes like: <code>p-l-* / p-r-* / p-t-* / p-b-*</code>.</p>

    <div class="row g-3">
        @for(group of oneSidePadding; track group) {
            <div class="col-xxl-3 col-sm-6">
                <div class="border-wrapper h-100 alert-light-light dark-helper">
                    <h6 class="mb-3">{{ group.title }}</h6>
                    <div class="common-p-box">
                        @for(padding of paddings; track paddings) {
                            <span>{{ group.class }}{{ padding }}</span>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</app-card>