<div class="card shadow-lg rounded">
    <div class="card-header">
      <h5>Create Board and Cards</h5>
      <p class="f-m-light mt-1">Add boards and tasks</p>
    </div>
    <div class="card-body">

      <!-- Create Board Form -->
      <div id="demo1" class="mb-4">
        <form [formGroup]="createBoardForm" (ngSubmit)="createBoard()">
          <div class="form-group">
            <h3 class="pb-2">Create Board</h3>
            <input
              type="text"
              formControlName="boardTitle"
              placeholder="Enter board title"
              class="form-control mb-3"
            />
            <button type="submit" class="btn btn-primary" [disabled]="createBoardForm.invalid">
              Add Board
            </button>
          </div>
        </form>
      </div>
  
      <!-- Kanban Board -->
      <div class="kanban-board row g-xl-4 g-3">
        @for(column of columns; track column) {
          <div class="col-12 col-xl-3 col-sm-6">
            <div class="kanban-column border rounded p-3 bg-light" 
                 (dragover)="allowDrop($event)" 
                 (drop)="onDrop($event, column)">
              <h5 class="mb-3">{{ column.title }}</h5>
              <ul class="list-unstyled">
                @for(task of column.tasks; track task; let i = $index) {
                  <li class="kanban-task p-2 bg-white rounded shadow-sm" 
                      draggable="true" 
                      (dragstart)="onDragStart($event, task, column, i)"
                      (dragover)="allowDrop($event)"
                      (drop)="onDropInsideColumn($event, column, i)">
                    {{ task }}
                  </li>
                }
              </ul>
            </div>
          </div>
        }
      </div>
      
  
      <!-- Create Card Form -->
      <div class="mt-md-5 mt-4">
        <form [formGroup]="createCardForm" (ngSubmit)="addCard()">
          <div class="form-group">
            <h3 class="pb-2">Create Card</h3>
            <select formControlName="columnIndex" class="form-control mb-2">
              <option [value]="null" disabled>Select Board</option>
              @for(column of columns; ; let i = $index; track column) {
                <option [value]="i">{{ column.title }}</option>
            }
            </select>
            <input
              type="text"
              formControlName="cardText"
              placeholder="Enter card text"
              class="form-control mb-3"
            />
            <button type="submit" class="btn btn-success" [disabled]="createCardForm.invalid">
              Add Card
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>