<app-card [headerTitle]="'Variations Of Right Ribbons'" [border]="true" [padding]="false">
  <p class="f-m-light mt-1" header5>Use class of <code>ribbon-*</code>[ribbon-right/ribbon-clip-right/ribbon-vertical-right/ribbon-bookmark/ribbon-clip-bottom-right/ribbon-vertical-right] through create ribbons and all ribbon colors are available.<code>[ribbon-*]</code></p>
  <div class="row g-3">
    @for(details of rightRibbons; track details){
      <div class="col-sm-6 col-xl-4">
        <div class="{{ details.class }} border border-1 height-equal">
          <div class="ribbon ribbon-{{ details.ribbon_class }} " [innerHTML]="details.ribbon_text"></div>
          <p [innerHTML]="details.text"></p>
        </div>
      </div>
    }
  </div>
</app-card>
