<app-card [headerTitle]="'Block Level Buttons'" [border]="true" [padding]="false">
    <p class="f-m-light mt-1" header5>Use<code> btn </code>class for buttons and <code>d-grid </code>used for block level buttons.</p>
    <div class="row g-3">
        @for(details of blockButton; track details){
            <div class="col-12"> 
             <div class="card-wrapper border rounded-3">
               <h6 class="sub-title fw-bold">{{ details.title }}</h6>
               <div class="d-grid gap-2 {{ details.class }}">
                @for(button of details.buttons; track button){
                    <button class="btn {{ button.class }}" type="button">{{ button.text}}</button>
                }
               </div>
             </div>
           </div>
        }       
    </div>
</app-card>