<div class="modal-header">
  <h5 class="modal-title">Write a Review</h5>
  <button class="btn-close" type="button" (click)="closeModal()"></button>
</div>
<div class="modal-body">
  <form class="row g-3 needs-validation" [formGroup]="reviewForm" (ngSubmit)="submit()">
    <div class="product-review-rating"><span>Rating</span>
      <div class="product-rating main-star-rating">
        <div class="common-flex star-box">
          <div class="rating">
            <ngb-rating [(rate)]="rating">
              <ng-template let-fill="fill">
                <i [ngClass]="fill === 100 ? 'fa-solid fa-star' : (fill > 0 ? 'fa-solid fa-star-half-stroke' : 'fa-regular fa-star')"></i>
              </ng-template>
            </ngb-rating>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <label class="form-label" for="validationCustom01">Name</label>
      <input class="form-control" id="validationCustom01" type="text" placeholder="Enter your name" formControlName="name" [ngClass]="{ 'is-invalid' : reviewForm.controls['name'].touched && reviewForm.controls['name'].errors?.['required'] , 'is-valid' : reviewForm.controls['name'].valid}">
      @if(reviewForm.controls['name'].touched && reviewForm.controls['name'].errors?.['required']) {
        <div class="invalid-feedback">Please enter a name.</div>
      }
    </div>
    <div class="col-12">
      <label class="form-label" for="validationTextarea">Your Review</label>
      <textarea class="form-control" id="validationTextarea" placeholder="Enter your review" formControlName="description" [ngClass]="{ 'is-invalid' : reviewForm.controls['description'].touched && reviewForm.controls['description'].errors?.['required'] , 'is-valid' : reviewForm.controls['description'].valid}"></textarea>
      @if(reviewForm.controls['description'].touched && reviewForm.controls['description'].errors?.['required']) {
        <div class="invalid-feedback">Please enter a review in the textarea.</div>
      }
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit Review</button>
    </div>
  </form>
</div>
