<app-card [headerTitle]="'Font Sizes'" [border]="true" [padding]="false">

    <p class="f-m-light mt-1" header5>Use font-size for <code>f-* [14 / 16 / 18 / 20 / 22 / 24 / 26 / 28 / 30 / 32 / 34 / 36 / 38 / 40]</code>.</p>

    <div class="gradient-border"> 
        <div class="font-wrapper border">
          <div class="f-14">Font-size f-14</div>
        </div>
        <div class="font-wrapper border">
          <div class="f-16">Font-size f-16</div>
        </div>
        <div class="font-wrapper border">
          <div class="f-18">Font-size f-18</div>
        </div>
        <div class="font-wrapper border">
          <div class="f-20">Font-size f-20</div>
        </div>
        <div class="font-wrapper border">
          <div class="f-22">Font-size f-22</div>
        </div>
        <div class="font-wrapper border">
          <div class="f-24">Font-size f-24</div>
        </div>
        <div class="font-wrapper border">
          <div class="f-26">Font-size f-26</div>
        </div>
        <div class="font-wrapper border">
          <div class="f-28">Font-size f-28</div>
        </div>
        <div class="font-wrapper border">
          <div class="f-30">Font-size f-30</div>
        </div>
        <div class="font-wrapper border">
          <div class="f-32">Font-size f-32</div>
        </div>
        <div class="font-wrapper border">
          <div class="f-34">Font-size f-34</div>
        </div>
        <div class="font-wrapper border">
          <div class="f-36">Font-size f-36</div>
        </div>
        <div class="font-wrapper border">
          <div class="f-38">Font-size f-38</div>
        </div>
        <div class="font-wrapper border">
          <div class="f-40">Font-size f-40</div>
        </div>
    </div>
</app-card>