<app-card [headerTitle]="'Horizontal Style'" [border]="true" [padding]="false" [cardClass]="'height-equal'">
  <p class="f-m-light mt-1" header5>Use <code>mega-horizontal</code> class to create horizontal alignments.</p>
  <form class="mega-horizontal">
    <div class="row">
      @for(style of horizontalStyle;track style){
        <div class="col-sm-3">
          <p class="mega-title">{{ style.title }}</p>
        </div>
        @for(item of style.details;track item){
          <div class="col-sm-9 {{ item.div_class }}">
            <div class="card">
              <div class="d-flex p-20">
                <div class="form-check radio radio-{{ item.class }} m-0 w-100">
                  <input class="form-check-input" [id]="item.id" type="radio" [name]="item.name" [value]="item.value" [checked]="item.check">
                  <label class="form-check-label mb-0 w-100" [for]="item.id">
                    <span class="flex-grow-1 {{ item.badge_class}}">
                      <span class="mt-0 mega-title-badge">
                       {{ item.title }}
                        <span class="badge badge-{{ item.class }} pull-right digits">
                        {{ item.digit }}
                        </span>
                      </span>
                      <span>{{item.description }}</span>
                      @if(item.rating == 5){
                        <span class="rating-star-wrapper">
                          <div class="rating">
                            <ngb-rating [rate]="item.rating" class="icofont">
                              <ng-template let-fill="fill">
                                <i [ngClass]="fill === 100 ? 'fa-solid fa-star' : (fill > 0 ? 'fa-solid fa-star-half-stroke' : 'fa-regular fa-star')"></i>
                              </ng-template>
                            </ngb-rating>
                        </div>
                      {{ item.label }}
                        </span>
                      }
                      @if(item.rating == 4){
                        <span class="rating-star-wrapper">
                          <div class="rating">
                            <ngb-rating [rate]="item.rating"  class="icofont ">
                              <ng-template let-fill="fill">
                                <i [ngClass]="fill === 100 ? 'fa-solid fa-star' : (fill > 0 ? 'fa-solid fa-star-half-stroke' : 'fa-regular fa-star')"></i>
                              </ng-template>
                            </ngb-rating>
                        </div>
                        {{ item.label }}
                        </span>
                      }
                    </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        }
      }
    </div>
  </form>
  <div class="card-footer text-end" details>
    <button class="btn btn-primary m-r-15" type="submit">Submit</button>
    <button class="btn btn-light" type="submit">Cancel</button>
  </div>
</app-card>