<app-card [headerTitle]="'Auto Size Textarea'" [border]="true" [padding]="false" [cardBodyClass]="'autosize-textarea'">
  <p class="f-m-light mt-1" header5>
    Use <code>autosize-textarea </code>to define custom textarea and javascript textarea.
  </p>
  <form class="row g-3">
    <div class="col-12">
      <label class="form-label">Using SPAN Tag</label>
      <span class="textarea" role="textbox" contenteditable></span>
    </div>
    <div class="col-12">
      <label class="form-label">Using Javascript</label>
      <textarea class="textarea autosize-area" rows="2" placeholder="Enter your message..."></textarea>
    </div>
  </form>
</app-card>
