<div class="container-fluid main-companies">
    <div class="row">
        <div class="col-xl-3 xl-4 box-col-12">
            <app-companies-filter></app-companies-filter>
        </div>
        <div class="col-xl-9 xl-66 box-col-12">
            <div class="row">
                @for(details of companyDetails;track details){
                    <div class="col-xxl-3 xl-50 col-md-4 col-sm-6 box-col-4">
                        <div class="card height-equal">
                            <div class="card-body">
                                <div class="company-box">
                                    <app-svg-icon [icon]="details.icon"></app-svg-icon>
                                    <div class="company-name">
                                        <h6>{{ details.name }}</h6>
                                        <div class="main-star-rating">
                                            <div class="common-flex star-box justify-content-center">
                                                <div class="rating">
                                                    <ngb-rating [rate]="details.rating">
                                                      <ng-template let-fill="fill">
                                                        <i [ngClass]="fill === 100 ? 'fa-solid fa-star' : (fill > 0 ? 'fa-solid fa-star-half-stroke' : 'fa-regular fa-star')"></i>
                                                      </ng-template>
                                                    </ngb-rating>
                                                  </div>
                                            </div>
                                        </div>
                                        <p class="mb-2 c-o-light">{{ details.reviews }} Reviews</p>
                                        <div class="company-category bg-light-primary txt-primary">
                                            <i class="fa-solid fa-tag fa-flip-horizontal"></i>
                                            <span>{{ details.category }}</span>
                                        </div>
                                        <div class="company-desc">
                                            <p>{{ details.description }}</p>
                                        </div>
                                        <a class="btn btn-primary btn-hover-effect" href="javascript:void(0)" [routerLink]="['/job-search/list-view']">
                                            Jobs Posted <span>({{ details.jobs_posted }})</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>