<app-card [headerTitle]="'Images with Checkbox'" [border]="true" [padding]="false">
  <p class="f-m-light mt-1" header5>
    Use <code>form-check-input </code>and <code>form-check-label </code>for image checkbox.</p>
    <div class="main-img-checkbox">
      <div class="row g-3">
        @for(image of imageCheckbox; track image){
          <div class="col-xxl-3 col-sm-6">
            <div class="card-wrapper border rounded-3 checkbox-checked">
              <h6 class="sub-title">{{ image.title }}</h6>
              <div class="img-checkbox">
                <input class="main-img-cover form-check-input" id="img-check-{{ image.id }}" type="checkbox" [checked]="image.check" [disabled]="image.disabled">
                <label class="form-check-label mb-0" for="img-check-{{ image.id }}">
                  <img [src]="image.img" alt="coffee-beans">
                </label>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
</app-card>

