<app-card [headerTitle]="'Divider Breadcrumbs'" [border]="true" [padding]="false" [cardClass]="'height-equal'">
  <p class="f-m-light mt-1" header5>Use <code>breadcrumb-icon</code> class to set divider breadcrumb with icons.</p>
  <nav class="breadcrumb breadcrumb-icon">
    <a class="breadcrumb-item" href="javascript:void(0)">Home</a>
    <span class="breadcrumb-item active">Ui Kits</span>
  </nav>
  <nav class="breadcrumb breadcrumb-icon m-0">
    <a class="breadcrumb-item" href="javascript:void(0)">Home</a>
    <a class="breadcrumb-item" href="javascript:void(0)">Ui Kits</a>
    <span class="breadcrumb-item active">Progress</span>
  </nav>
</app-card>
