<app-card [cardClass]="'height-equal'" [headerTitle]="'Vertical Dashed Divider'" [border]="true" [padding]="false" [cardBodyClass]="'main-divider'">

    <p class="mb-0 mt-1" header5>Use <code>vertical-divider</code> and<code> vertical-line</code> class for dashed divider.</p>

    <div class="row g-sm-2 d-flex gy-4">
        @for(divider of verticalDashedDivider; track divider) {
            <div class="col-sm-3 col-6">
                <div class="vertical-divider">
                  <div class="vertical-line bg-{{ divider.color }}"></div>
                  @if(divider.icon) {
                    <app-svg-icon 
                        [icon]="divider.icon" 
                        [class]="'my-2 ' + divider.icon_type + '-icon ' + divider.icon_type + '-' + divider.color">
                    </app-svg-icon>
                  } @else {
                      <p class="my-2" [ngClass]="{
                        'border': divider.border, 
                        'rounded-pill': divider.border && divider.rounded
                      }" 
                      [class]="divider.border ? 'border-' + divider.color : 'txt-' + divider.color">{{ divider.color | titlecase }}</p>
                  }
                  <div class="vertical-line bg-{{ divider.color }}"></div>
                </div>
            </div>
        }
    </div>
</app-card>