<app-card [cardClass]="'trending-card height-equal'" [headerTitle]="'Trending Creator'" 
    [padding]="false" [rightSideDetails]="true" [cardBodyClass]="'pt-0 activity-card'">
    <a href="javascript:void(0)" [routerLink]="['/seller/list']" header3>View All</a>

    <div class="appointment-table customer-table table-responsive">
        <table class="table table-bordernone">
            <tbody>
                @for(creator of trendingCreator; track creator) {
                    <tr>
                        <td>
                            <img class="img-fluid img-40 rounded-circle me-2" [src]="creator.image" alt="building">
                        </td>
                        <td class="img-content-box">
                            <a class="d-block f-w-500" href="javascript:void(0)" [routerLink]="['/seller/list']">{{ creator.title }}</a>
                            <span class="f-light">{{ creator.items }} Items</span>
                        </td>
                        <td class="text-end">
                            <span class="f-w-500">${{ creator.price }}</span>
                            <span class="d-block f-light">Total USD</span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</app-card>