<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6 col-md-12 col-sm-12 box-col-12">
            <app-advanced-smil-animations></app-advanced-smil-animations>
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12 box-col-12">
            <app-svg-path-animation></app-svg-path-animation>
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12 box-col-12">
            <app-donut-svg-animate></app-donut-svg-animate>
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12 box-col-12">
            <app-bi-polar-line></app-bi-polar-line>
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12 box-col-12">
            <app-line-chart-area></app-line-chart-area>
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12 box-col-12">
            <app-bi-polar-bar-chart></app-bi-polar-bar-chart>
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12 box-col-12">
            <app-stacked-bar-chart></app-stacked-bar-chart>
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12 box-col-12">
            <app-horizontal-bar-chart></app-horizontal-bar-chart>
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12 box-col-12">
            <app-extreme-responsive></app-extreme-responsive>
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12 box-col-12">
            <app-simple-line-chart></app-simple-line-chart>
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12 box-col-12">
            <app-holes-data></app-holes-data>
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12 box-col-12">
            <app-filled-holes-data></app-filled-holes-data>
        </div>       
    </div>
</div>